{include file=$header}
<!--top end--><!--banner-->
<div class="big-pic big-pic{if $focusCount}{$focusCount}{/if}">
    <div class="big-pic-in">
        <div class="pic-list" >
        	     {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
                                <a href="{$a.link}"><p><img src="{$a.thumb}" width="100%"></p></a>
								{/if}
			{/foreach}
			{/if}
                    </div>
        <div class="slide-dot">
			       {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
			 <span{if $k==0} class="slide-dot-cur"{/if}></span>
                    {/if}
			{/foreach}
			{/if}
                </div>
    </div>
    </div>
<div class="clear"></div>
<!--banner end-->

<!--search-->
<div class="search">
	
	<div class="search_box">
		<form id="search" name="search" method="post" action="?m=site&c=home&a=search&token={$token}">
			<input type="text" class="text" name="SeaStr" id="SeaStr" placeholder="请输入搜索关键词"/>
			<input type="submit" class="button2" value="">
		</form>
    </div>
</div>
<!--banner end-->

<!--list-->
<div class="list">
    <ul> {if $textContents}
			{foreach from=$textContents item=a key=k}
			{if $k<5}
    	    	<li><a href="{$a.link}" title="{$a.title}">{$a.title}</a></li>
            	{/if}
		{/foreach}
		{/if}
		    </ul>
    <div class="list_img"></div>
</div>
<div class="clear"></div>
<!--list end-->
<div class="button">
	<ul>
    	<li><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}"  class="tel" title="电话"></a></li>
        <li class="middle_li"><a href="sms:{$company.mp}" class="talk" title="短信"></a></li>
        <li><a href="?token={$token}&m=site&c=home&a=map"  title="地图" class="map"></a></li>
    </ul>
</div>
<div class="clear"></div>
<!--button end-->

<!--bottom-->
{include file=$footer}