<!doctype html>
<html>s
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta name="Author" content="0431" />
<meta name="keywords" content="魔码网络" />
<meta name="description" content="魔码网络"/>
<LINK href="master.css?{$rand}" tppabs="http://900054.3g/css/master.css?{$rand}" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="jquery-1.6.4.min.js" tppabs="http://900054.3g/common/js/jquery-1.6.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="nav.js" tppabs="http://900054.3g/common/js/nav.js"></script>
<script language="JavaScript" type="text/javascript" src="search.js" tppabs="http://900054.3g/common/js/search.js"></script>
<script language="JavaScript" type="text/javascript" src="banner.js" tppabs="http://900054.3g/common/js/banner.js"></script>
<title>魔码网络_魔码网络</title>
</head>

<body>
<div class="topbg">
	<img src="searchbtn.png" tppabs="http://900054.3g/images/searchbtn.png" alt="搜索按钮" class="searchbtn">
	<a href="index.html" tppabs="http://900054.3g/html/index.html" title="魔码网络移动建站" class="logo"><img src="logo.png" tppabs="http://900054.3g/images/logo.png" alt="魔码网络移动建站"></a>
    <img src="navbtn.png" tppabs="http://900054.3g/images/navbtn.png" alt="导航" class="navbtn">
</div>
<div class="searchbox">
    <form id="search" name="search" method="get" action="http://900054.3g/search.php">
        <input type="text" class="text" name="SeaStr" id="SeaStr" placeholder="请输入搜索关键词"/>
        <input type="submit" class="button" title="搜索" value="">
    </form>
</div>
<ul class="navbg">
	<li><a href="about.html" tppabs="http://900054.3g/html/about.html" title="公司简介">公司简介</a></li>
    <li><a href="product.html" tppabs="http://900054.3g/html/product.html" title="家具展示">家具展示</a></li>
    <li><a href="news.html" tppabs="http://900054.3g/html/news.html" title="最新资讯">最新资讯</a></li>
    <li><a href="case.html" tppabs="http://900054.3g/html/case.html" title="案例展示">案例展示</a></li>
    <li><a href="contact.html" tppabs="http://900054.3g/html/contact.html" title="联系我们">联系我们</a></li>
</ul>
<div class="bannerbg">
	<img src="bannerbg.jpg" tppabs="http://900054.3g/images/bannerbg.jpg" alt="" class="bannerbgpic">
    <div class="big-pic big-pic3">
        <div class="big-pic-in">
            <div class="pic-list" >
                                <a href="javascript:void(0)"><p><img src="20130521161735-971489220.jpg" tppabs="http://900054.3g/upfile/ads/20130521161735-971489220.jpg" width="100%"></p></a>
                                <a href="javascript:void(0)"><p><img src="20130521161750-889019196.jpg" tppabs="http://900054.3g/upfile/ads/20130521161750-889019196.jpg" width="100%"></p></a>
                                <a href="javascript:void(0)"><p><img src="20130521161758-1495762944.jpg" tppabs="http://900054.3g/upfile/ads/20130521161758-1495762944.jpg" width="100%"></p></a>
                            </div>
            <div class="slide-dot">
            	<center>
					                    <span class="slide-dot-cur"></span>
                                        <span ></span>
                                        <span ></span>
                                    </center>    
            </div>
        </div>
    </div>
</div>
<div style="height:20px;"></div>
<ul class="productbox">
		<li>
    	<div><a href="product_view-29.html" tppabs="http://900054.3g/html/product_view-29.html" title="欧式风格"><img src="20130521164347-1182597156_large.jpg" tppabs="http://900054.3g/upfile/product/pic/20130521164347-1182597156_large.jpg" alt="欧式风格"></a></div>
        <p>欧式风格</p>
    </li>
    	<li>
    	<div><a href="product_view-28.html" tppabs="http://900054.3g/html/product_view-28.html" title="现代风格"><img src="20130521164405-103973532_large.jpg" tppabs="http://900054.3g/upfile/product/pic/20130521164405-103973532_large.jpg" alt="现代风格"></a></div>
        <p>现代风格</p>
    </li>
    	<li>
    	<div><a href="product_view-27.html" tppabs="http://900054.3g/html/product_view-27.html" title="简约风格"><img src="20130521164434-202918404_large.jpg" tppabs="http://900054.3g/upfile/product/pic/20130521164434-202918404_large.jpg" alt="简约风格"></a></div>
        <p>简约风格</p>
    </li>
    </ul>
<div class="clear"></div>
<p class="indexhr"></p>
<ul class="footnav">
	<li><a href="about.html" tppabs="http://900054.3g/html/about.html" title="简介">简介</a></li>
    <li><a href="product.html" tppabs="http://900054.3g/html/product.html" title="课程">课程</a></li>
    <li><a href="news.html" tppabs="http://900054.3g/html/news.html" title="资讯">资讯</a></li>
    <li><a href="case.html" tppabs="http://900054.3g/html/case.html" title="案例">案例</a></li>
    <li><a href="contact.html" tppabs="http://900054.3g/html/contact.html" title="联系">联系</a></li>
</ul>
<p class="support">技术支持：<a href="javascript:if(confirm(%27http://m.94more.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://m.94more.com/%27" tppabs="http://m.94more.com/" title="魔码网络-提供基于互联网的全套解决方案">魔码网络</a><a href="javascript:if(confirm(%27http://  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://%27" tppabs="http://" title="魔码建站－快速展开网络营销的利器！">[移动建站]</a></p>
<ul class="footbg">
	<li class="sms"><a href="sms:13888888888" title="短信"><span>短信</span></a></li>
    <li class="tel"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone=96877" title="电话"><span>电话</span></a></li>
    <li class="map"><a href="map.html" tppabs="http://900054.3g/html/map.html" title="地图"><span>地图</span></a></li>
    <!--分享(-->
        <li class="share"><a href="share.php-title=魔码网络_魔码网络.htm" tppabs="http://900054.3g/share.php?title=魔码网络_魔码网络" title="分享"><span>分享</span></a></li>
        <!--)分享-->
</ul>
</body>
</html>
