{include file=$header}
<div class="big-pic big-pic3">
    <div class="big-pic-in">
        <div class="pic-list" >
        	     {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
                                <a href="{$a.link}"><p><img src="{$a.thumb}" width="100%"></p></a>
								{/if}
			{/foreach}
			{/if}
                    </div>
        <div class="slide-dot">
			       {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
			 <span{if $k==0} class="slide-dot-cur"{/if}></span>
                    {/if}
			{/foreach}
			{/if}
                    </div>
    </div>
</div>
<div class="btnbox">
	<div>
    	<a href="sms:{$company.mp}" title="短信" class="sms"></a>
        <a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}" title="电话" class="tel"></a>
        <a href="?token={$token}&m=site&c=home&a=map" title="地图" class="map"></a>
    </div>
</div>
<ul class="productul" style="margin-top:20px;">
{if $pictureContents}
			{foreach from=$pictureContents item=a key=k}
			{if $k<2}
              <li><center>
        	<a href="{$a.link}"><img src="{$a.thumb}" alt="{$a.title}"></a>
        	<p><a href="{$a.link}" style="font-size:16px;">{$a.title}</a></p>
        </center></li>
          {/if}
		  {/foreach}
		  {/if}
		</ul>
		<div class="clear"></div>
<ul class="newsul">
		      {if $textContents}
			{foreach from=$textContents item=a key=k}
			{if $k<5}
    	    	<li><a href="{$a.link}" title="{$a.title}">{$a.title}</a></li>
            	{/if}
		{/foreach}
		{/if}

            </ul>

{include file=$footer}