html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, .mainmenu, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, .mainmenu {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}


#cate75{background-color: #000000;overflow-x: hidden;}
#nav {
	float:none;
	width:100%;
}
#scroller li p {
display: none;
}
#wrapper {
position: fixed;
}
#indicator {
position: fixed;
left: 0;
text-align: center;
bottom: 250px;
width: 100%;
}
#indicator > li {
display: inline-block;
float:none;
}
#indicator > li.active {
background: #cccccc;
}
.device {
width: 100%;
height: 245px;
margin: 0 auto;
position: fixed;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
}
.device .arrow-left {
  background: url(../../com/images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:99;
  display:none;
}
.device .arrow-right {
  background: url(../../com/images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:99;
  display:none;
}
.swiper-container {
  height: 200px;
  width: 100%;
}
.content-slide {
  padding: 8px 10px;
  color: #fff;
}
.content-slide>a {
width: 33%;
float: left;
text-align: center;
color: #fff;
overflow: hidden;
margin-bottom: 15px;
}
.content-slide>a .mbg {
display: block;
overflow: hidden;
margin:0 5px;border-radius: 3px;
}
.title {
  font-size: 12px;
  margin: 3px 0 5px 0;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#222;
}
.ico img{ width:50px; height:50px;border-radius: 0;margin-top: 5px;}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:0px;
  width: 100%;
  z-index:100;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 4px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}



#cate75 .mainbg{ 
	position:fixed;
	z-index:1;
	width: 100%;
}
#cate75 .mainbg img{
	width:100%;
}



#cate75  .content-slide>a .mbg { background-color:rgba(255,255,255,0.9)}

.content-slide>a .mbg {
margin: 0 auto;
width: 80px;
height: 80px;
border-radius: 100%;
}
.device {height: 240px;}
.swiper-container {height: 205px;}
.ico img {margin-top: 10px;width: 40px;
height: 40px;}


#cate75  .content-slide>a:nth-child(6n+1) .mbg { background-color:rgba(210,170,84,0.9)}



#cate75  .content-slide>a:nth-child(6n+2) .mbg { background-color:rgba(108,160,182,0.9)}
#cate75  .content-slide>a:nth-child(6n+3) .mbg{ background-color:rgba(129,165,93,0.9)}
#cate75  .content-slide>a:nth-child(6n+4) .mbg { background-color:rgba(209,109,82,0.9)}

#cate75  .content-slide>a:nth-child(6n+5) .mbg { background-color:rgba(109,108,168,0.9)}
#cate75  .content-slide>a:nth-child(6n+6) .mbg{ background-color:rgba(196,126,184,0.9)}

#cate75  .content-slide>a .title {color: #fff;}

