{include file=$header}
<div class="big-pic big-pic3">
    <div class="big-pic-in">
        <div class="pic-list" >
        	     {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
                                <a href="{$a.link}"><p><img src="{$a.thumb}" width="100%"></p></a>
								{/if}
			{/foreach}
			{/if}
                    </div>
        <div class="slide-dot">
			       {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<3}
			 <span{if $k==0} class="slide-dot-cur"{/if}></span>
                    {/if}
			{/foreach}
			{/if}
                    </div>
    </div>
</div>
<ul class="productbox">
{if $pictureContents}
			{foreach from=$pictureContents item=a key=k}
			{if $k<3}
		<li>
    	<div class="imgbox">
    		<a href="{$a.link}" title="{$a.title}"><img max-width="181" src="{$a.thumb}" alt="{$a.title}"></a>
            <p class="protitle">{$a.title}</p>
            <p>{$a.intro}</p>
        </div>
    </li>
    	{/if}
		{/foreach}
		{/if}
		
    </ul>
<div class="clear"></div>
<div class="casebox">
	    <ul class="caseright" style="width:100%;float:none;">
		{if $textContents}
			{foreach from=$textContents item=a key=k}
			{if $k<5}
    	    	<li><p><a href="{$a.link}" title="{$a.title}">{$a.title}</a></p></li>
            	{/if}
		{/foreach}
		{/if}
            </ul>
        <div class="clear"></div>
</div>
{include file=$footer}