* {margin:0;padding:0;}
html, body {
	height: 100%
}
body {
	position: relative;
	overflow-x: hidden;
	font-size: 14px;
	font-family: arial, "\5FAE\8F6F\96C5\9ED1";
	-webkit-text-size-adjust: none;
}
body, p, form, h1, h2, h3, h4, h5, h6, ul, ol, li, section, div, * {
	padding: 0;
	margin: 0
}
ul, ol, li {
	list-style: none
}
dl{-webkit-margin-before:0em;-webkit-margin-after:0em;}
img {
	border: 0
}
a {
	text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
}
video {
	display: inline-block;
	width:100%;
	background:#000;
}
::-moz-selection {
 background: none;
 color: #fff;
 text-shadow: none;
}
::selection {
	background: none;
	color: #fff;
	text-shadow: none;
}
img {
	-ms-interpolation-mode: bicubic;
}
h1, h2, h3 {
	color: #444;
}
h1 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 20px "\5FAE\8F6F\96C5\9ED1";
}
h2 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 16px "\5FAE\8F6F\96C5\9ED1";
}
h3 {
	/*-webkit-text-stroke: 1px #fff;*/
	font: 15px "\5FAE\8F6F\96C5\9ED1";
	color:#333;
}
i,em,b,span,label,a{ display:inline-block; font-style:normal;}
img{ }
.hide {
	display: none;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.break {
	word-spacing: normal;
	word-break: normal;
	word-break: break-all;
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.fixed-top {
	position: fixed;
	bottom: auto;
	top: 0px;
}
.fixed-bottom {
	position: fixed;
	bottom: 0px;
	top: auto;
}
.fixed-left {
	position: fixed;
	right: auto;
	left: 0px;
}
.fixed-right {
	position: fixed;
	right: 0px;
	left: auto;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
}
.tcenter {
	text-align: center;
}
.fred{ color:#fe4773;}
.fl{ float:left;}
.fr{ float:right;}
/*table*/
.table {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}
.tr{ display:table-row;}
.td {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
/*plug-div*/
.plug-div {
	position:fixed;
	bottom:0;
	left:0px;
	z-index:900;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.plug-menu{
	-webkit-appearance:button;
	display:inline-block;
	width:40px!important;
	height:40px!important;
	border-radius:40px;
	position: absolute;
	bottom:17px;
	left: 17px;
	z-index:999;
	-webkit-transition: -webkit-transform 200ms;
	-webkit-transform:rotate(1deg);
	background-image:url(/assets/mobile/plugmenu-white.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80% auto;
	background-size: 80% auto;
	background-position: center center;
	border:0;
}
.plug-menu:before{
	font-size:20px;
	margin:9px 0 0 9px;
}
.plug-menu:checked{
	-webkit-transform:rotate(135deg);
}

.plug-phone>div {
	width:40px;
	height:40px;
	border-radius:40px;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:16px;
	margin-left:16px;
	z-index:900;
	-webkit-transition: -webkit-transform 200ms;
}
.plug-phone>div a{
	font-size:20px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius:40px;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.plug-phone>div.on:nth-of-type(1) {-webkit-transform: translate(0, -100px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(2) {-webkit-transform: translate(47px, -81px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(3) {-webkit-transform: translate(81px, -45px) rotate(720deg);}

.plug-phone>div.on:nth-of-type(4) {-webkit-transform: translate(100px, 0) rotate(720deg);}
/*layout*/
.html {min-height: 100%;}
.main {overflow-y:auto; overflow-x:hidden;
padding-bottom: 50px;}
footer {position: relative;
margin-top: -50px;
height: 30px;
clear:both;
text-align:center; padding:20px 0 0 0;}
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
} 
header,
footer,
section{ width:100%;}
section{ padding:0 0 0 0;}
/*footer*/
footer a{ color:#888;}
/*modua*/
/*bg*/
/*icon*/
.ico-share{ background:url(/assets/mobile/ico-share.png) no-repeat  0 center; background-size:22px 19px; padding:0 0 0 27px;}
.ico-pyq{ background:url(/assets/mobile/ico-pyq.png) no-repeat 0 center; background-size:20px 19px; padding:0 0 0 25px;}
.ico-list{background:url(/assets/mobile/icon/ico-list.png) no-repeat 0 center; background-size: auto 20px;}
.ico-arrow-left{background:url(/assets/mobile/icon/ico-arrow-left.png) no-repeat 0 center; background-size: auto 20px;}
.ico-home{background:url(/assets/mobile/icon/ico-home.png) no-repeat 0 center; background-size: auto 20px;}
.ico-up{ background-image:url(/assets/mobile/icon/ico-up.png); background-repeat: no-repeat; background-position: center center; background-size: auto 15px;}
.ico-angle-right{background-image:url(/assets/mobile/icon/ico-angle-right.png); background-repeat: no-repeat; background-position: center center; background-size: auto 15px;}
.ico-angle-right.ico{ width:20px; height:30px;}
.ico-angle-down{background-image:url(/assets/mobile/icon/ico-angle-down.png); background-repeat: no-repeat; background-position: center center; background-size: 15px auto;}
.ico-member{background-image:url(/assets/mobile/icon/ico-member.png); background-repeat: no-repeat; background-position: left center; background-size: 20px auto; padding: 0 0 0 25px;}
.ico-money{background-image:url(/assets/mobile/icon/ico-money.png); background-repeat: no-repeat; background-position: left center; background-size: 15px auto; padding: 0 0 0 20px;}
.ico-address-gray{background-image:url(/assets/mobile/icon/ico-address-gray.png); background-repeat: no-repeat; background-position: left center; background-size: 15px auto; padding: 0 0 0 20px;}
.ico-gps{background-image:url(/assets/mobile/icon/ico-gps.png); background-repeat: no-repeat; background-position: left center; background-size: auto 15px; padding: 0 0 0 20px;}
.ico-call{background-image:url(/assets/mobile/icon/ico-call.png); background-repeat: no-repeat; background-position: left center; background-size: 15px auto; padding: 0 0 0 20px;}
.ico-heart{background-image:url(/assets/mobile/icon/ico-heart-red.png); background-repeat: no-repeat; background-position: left center; background-size: 15px auto; padding: 0 0 0 20px;}
/*btn*/
.btn-up{ right:17px;position:fixed;bottom:17px;z-index:100; width: 40px; height: 40px; display: none;}
/*arrow*/
.arrow{
border-style:solid;
border-width:0;
border-color:transparent transparent transparent;
}
.arrow:after{
border-style: solid;
border-width: 2px 2px 0 0;
content: " ";
display: inline-block;
height: 10px;
vertical-align: middle;
width: 10px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
border-radius:0 0 0 0;
}
/*box*/
.box-block{ left:0; top:0; z-index:1;}
.box-text,
.box-bg,
.box-bd,
.box-block{position:absolute; width:100%; height:100%;}
.box-bg{ background:#000; 	opacity:0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity:0.5;}
.box-bd{ z-index:10; color:#fff; text-shadow:0 0 3px #000;}
.box-img{ width:100%; position:relative; overflow:hidden; text-align:center;}
.box-img img{ width:100%;}
.box-img-list{position:absolute; height: 100%; top:0; left:0; z-index: 0;}
.box-img-list,
.box-img-list li,
.box-img-list li a{ text-align:center; width:100%; height: 100%; display: block;}
.box-img-page{z-index:10; position:absolute; right:0;}
.box-img-page a{ width:10px; height:10px; line-height:9999px; overflow:hidden; background:#413b2d; border-radius:10px; margin:0 5px;}
.box-img-page a.active{ background:#fff;}
.box{width:96%; margin:10px 2% 100px; border-radius:5px; float:left;}
/*box-weixin*/
.box-weixin.table{ width:90%; margin:10px 5%;}
.box-weixin .td{ width:auto; color:#444;}
.box-weixin .td:last-child{ width:20px;}
.box-weixin .weixin-img{ width:60px; height:60px; border:5px solid #fff; background:#fff; overflow:hidden; line-height:55px; border-radius:60px; box-shadow:0 0 5px rgba(0, 0, 0, 0.25);}
.box-weixin .weixin-img img{ vertical-align:middle; max-width:100%;}
.box-weixin .td span{ color:#888; font-size:12px;}
/*box-list-arrow*/
.box-list-arrow{ overflow:hidden;}
.box-list-arrow a{ width:100%; padding:10px 0 10px 0; margin:0 0 5px 0; overflow:hidden; position:relative; background:#fff;}
.box-list-arrow .fl{ width:25%; text-align:center;}
.box-list-arrow .fr{ width:73%; padding:0 0 0 2%;text-align:left;}
.box-list-arrow .fw{ width:98%; padding:0 0 0 2%; text-align:left;}
.box-list-arrow .fr b,
.box-list-arrow .fw b{ font-size:15px; color:#333;}
.box-list-arrow .fr i,
.box-list-arrow .fw i{ color:#e8645a; font-size:12px;}
.box-list-arrow .fr b,
.box-list-arrow .fr i{ width:95%;}
.box-list-arrow .fw b,
.box-list-arrow .fw i{ width:95%;}
.box-list-arrow .fl img{max-width:100%;}
.box-list-arrow .arrow{ position:absolute; top:50%; margin:-10px 0 0 0;width:6%; right:3px;}
.box-list-arrow .arrow:after{border-color: #999;}
/*box-number*/
.box-number,
.pop-form .pop-bd .bd p.box-number{ text-align:center; height:32px; overflow:hidden; margin:5px auto; width:auto;}
.box-number i,
.box-number input,
.box-number em,
.box-number a{display:inline-block; float:left;}
.box-number i{ text-align:center; width:30px; height:30px; line-height:30px; background:#999; color:#fff;}
.box-number i.unactive{ background:#ccc;}
.box-number input,
.box-pop .box-number input,
.box-number input:focus,
.box-pop .box-number input:focus{ border-radius:0; width:69%; padding:0 2%; height:28px; line-height:28px; margin:0; border:1px solid #ccc; text-align:center;}
.box-number em,
.box-number span{ line-height:32px;}
/*header*/
header .box-img{ height:170px; overflow:hidden;}
header .box-img img{ width:100%; min-height: 170px;}
.box-img .box-text{ height:30px; width:100%; left:0; bottom:0; line-height:30px; text-align:left; z-index: 10;}
.box-img .box-bd{ padding:0 5%; width:90%;} 
.box-img .box-text .fl{ width:40%;}
.box-img .box-text .fr{ padding:0 5%; width:40%; text-align:right;}
/*loading*/
.loading {
	display: inline-block;
	color: #999;
	height: 30px;
	line-height: 30px;
	margin: 0 0 10px 0;
	padding:0 0 0 25px;
	background:url(/assets/mobile/loading.png) no-repeat 0 center;
	background-size:20px 20px;
}
.isloading{
	background:url(/assets/mobile/loading.gif) no-repeat 0 center;
}
/*pop-nav*/
.pop,
.pop-bg,
.pop-bd{ width:100%; height:100%; left:0; top:0; z-index:999;}
.pop{position:absolute; display:none;}
.pop-bg{ position:absolute; background:#000;opacity:0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity:0.5;z-index:999;}
.pop-bd{position:fixed;  z-index:1000; }
.pop-nav .pop-bd{background:#fff; width:80%; right:0; left:auto; box-shadow:0 0 20px #000; overflow-y:auto; overflow-x:hidden; -webkit-transition: -webkit-transform 200ms; bottom:0;}
.pop-nav .pop-bd.on{-webkit-transform: translate(1px, 0);}
/*.pop-bd hd*/
.pop-nav .pop-bd .hd{padding:0 0 0 5%;width:95%; z-index:1100; left:0;background: #76caca;}
.pop-nav .pop-bd .hd span{ border:1px solid #ccc; border-radius:5px; padding:0 10px; height:30px; line-height:30px; background:#fff; color:#444;}
/*.pop-bd bd*/
.pop-nav .pop-bd .bd{ width:100%; position:relative;}
.pop-nav .pop-bd dl dt,
.pop-nav .pop-bd dl dd a{padding:0 0 0 5%;height:40px; border-bottom:1px solid #ccc; width:95%; line-height:40px; color:#888; overflow: hidden;}
.pop-nav .pop-bd dl dt{font-size:18px;}
.pop-nav .pop-bd dl dt a{ width:100%; height:100%;color:#888;}
.pop-nav .pop-bd dl dd{ background:#efeeed; display:none;}
.pop-nav .pop-bd dl dd a{ border-top:1px dashed #ccc; border-bottom:0; margin:-1px 0 0 0;text-overflow: ellipsis; white-space:nowrap;}
.pop-nav .pop-bd dl dd a i{ font-size:20px; padding:0 5px 0 10px; color:#aaa;}

.pop-nav .pop-bd dl dt.active{ background:#ff6600; color:#fff; font-size:18px;}
.pop-nav .pop-bd dl dt.active .ico{ color:#fff;}
.pop-nav .pop-bd dl.active dd{ display:block;}
.pop-nav .pop-bd dl dd a:active,
.pop-nav .pop-bd dl dd a.active{ color:#444;}
.pop-nav .pop-bd dl dd a:active i,
.pop-nav .pop-bd dl dd a.active i{ color:#666;}
.pop-nav .pop-bd dl dt span{ width: 90%; overflow: hidden; float: left;text-overflow: ellipsis; white-space:nowrap;}
.pop-nav .pop-bd dl dt .ico{ width: 10%; height: 100%;}
/*pop-form*/
.pop-form,
.pop-form .pop-bg,
.pop-form .pop-bd{ }
.pop-form .pop-bg{}
.pop-form .pop-bd{ width: 90%; height:auto; top:50%; left: 50%; margin: -45% 0 0 -45%; background: #f2f2f2; box-shadow: 0 0 5px rgba(0,0,0,0.25); border-radius: 5px; overflow: hidden;}
.pop-form .pop-bd .hd,
.pop-form .pop-bd .bd{padding:0 3%; width: 94%;}
.pop-form .pop-bd .bd{ display: block;}
.pop-form .pop-bd .hd{ border-bottom: 1px solid #bebebe; background: #dcdcdc; height: 30px; line-height: 30px; border-radius: 5px 5px 0 0; font-size:12px; }
.pop-form .pop-bd .hd b{ font-weight: normal; color: #444;}
.pop-form .pop-bd .bd p{ color: #888; line-height: 30px; margin:0; padding:0;}
.pop-form .box-form input[type="text"]{ width: 99%; background: #f0eef0; border-color:#d1d1d1; border-radius: 2px; margin:5px auto;}
/*pop-list*/
.pop-list{ background: none;z-index:2000; position: fixed; width: 100%; height:100%;}
.pop-list .pop-bg{opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;}
.pop-list .pop-bd{ width:80%; height:100%; top:0; left:auto;right:0; background:#fff; z-index:2000; position: fixed; padding:0; border-radius:0; overflow: hidden;}
.pop-list .hd,
.pop-list .bd{ position: absolute; top:0; left: 0; width: 100%;}
.pop-list .hd{z-index: 3000;}
.pop-list .bd{overflow-y: auto; overflow-x: hidden; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.pop-list dl{border-bottom:1px solid #ccc; margin: 0; width: 100%;}
.pop-list dl:last-child{ border:0;}
.pop-list dt{ padding:5px 2% 5px 5%; line-height:20px; width:93%;}
.pop-list dt a b{font-weight: normal;}
.pop-list dt a span{font-size:12px;}
.pop-list dt a,
.pop-list dt p{ font-size:14px; width:100%; position: relative;}
.pop-list dd{ background:#efeeed; display:none;}
.pop-list dl.active dd{ display:block;}
.pop-list .arrow{width:10%; height:0; float: right;}
.pop-list .arrow:after{width:8px; height:8px; position:absolute; right:2%; top:50%;margin:-4.5px 0 0 0; }
.pop-list dd a,
.pop-list dd span{ padding:5px 0 5px 10%; width:90%; color:#888; position:relative; border-bottom:1px dashed #ccc;}
.pop-list dd a:visited{color:#888;}
.pop-list dd a:last-child{border:0;}
.pop-list dd a i,
.pop-list dd span i{ width:5px; height:2px; background:#ccc; position:absolute; left:5%; top:50%; margin:-1px 0 0 0;}
.pop-list dd p{ padding:0; width:100%; }
.pop-list dd p a{padding:5px 0 5px 15%; width:90%; }
.pop-list dd p a i{left:10%; }
/*pageShow*/
.pageShow,
.pagebg{min-height: 100%;width: 100%; overflow: hidden;left:0; top:0; }
.pageShow{position:fixed; z-index: 999;}
.pagebg{position: absolute; z-index: 998;}
.pageShow img{ max-width: 100%;}
/*map*/
#dituContent{ position:fixed; width:100%; height:100%; top:0; left:0;}
@media screen and (orientation:landscape) {
	header .box-img{ height: 250px;}
	header .box-img img{ max-height: 250px;}
    .box-number input,
    .box-pop .box-number input{ width:78%;}
}
/*navPop*/
.navPop-1 {
    position:fixed;
    bottom:0;
    left:0;
    z-index:900;
}
.navPop-1 .navPop-btn{
    /*-webkit-appearance:button;*/
    display:inline-block;
    width:40px!important;
    height:40px!important;
    border-radius:40px;
    position: absolute;
    bottom:16px;
    left: 16px;
    z-index:999;
    -webkit-transition: -webkit-transform 200ms;
    -webkit-transform:rotate(1deg);
    /*background-image:url(/assets/mobile/vweisiteV01/icon/navPop-btn.png?2013);*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: 80% auto;*/
    /*background-size: 80% auto;*/
    /*background-position: center center;*/
    /*border:0;*/
    text-align: center;
    line-height: 40px;
    background: #000;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.navPop-1 .navPop-btn .fa{ width: 30px; height: 30px; font-size: 20px; line-height: 33px; text-align: center; border-radius: 1000px; background: #fff; margin: 5px; color: #000;}
.navPop-1 .navPop-btn:before{

}
.navPop-1 .navPop-btn.active{
    -webkit-transform:rotate(135deg);
}

.navPop-1 .navPop-wrap>div {
    width:40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    border-radius:40px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:16px;
    margin-left:16px;
    z-index:900;
    -webkit-transition: -webkit-transform 200ms;
}
.navPop-1 .navPop-wrap>div.on{box-shadow: 0 0 5px rgba(0,0,0,0.25);}
.navPop-1 .navPop-wrap>div a{
    font-size:20px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius:40px;
    opacity:0.1;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity:0.1;
    overflow: hidden;
}
.navPop-1 .navPop-wrap>div a img{ width: 100%; height: 100%; border-radius: 1000px; float: left;}
.navPop-1 .navPop-wrap>div.on a{opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;}
.navPop-1 .navPop-wrap>div.on:nth-of-type(1) {-webkit-transform: translate(0, -100px) rotate(720deg);}

.navPop-1 .navPop-wrap>div.on:nth-of-type(2) {-webkit-transform: translate(47px, -81px) rotate(720deg);}

.navPop-1 .navPop-wrap>div.on:nth-of-type(3) {-webkit-transform: translate(81px, -45px) rotate(720deg);}

.navPop-1 .navPop-wrap>div.on:nth-of-type(4) {-webkit-transform: translate(100px, 0) rotate(720deg);}
body{
  background:#d2d1cd;
}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
select,
textarea{ border-color:#ccc;}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
select{ height: 30px; -webkit-appearance:none;border-radius:5px; border:1px solid #ccc; padding:0 5px;}
input[type="checkbox"],
input[type="radio"]{-webkit-appearance:none; background: #ccc; width: 14px; height: 14px; border-radius: 14px;}
input[type="checkbox"]:checked,
input[type="radio"]:checked{ background: #666;}
input[type="submit"],
input[type="botton"]{-webkit-appearance:none; border-radius:5px;}
/*header*/
header{ background:#76caca; height:40px; position:fixed; top:0; left:0; border-bottom:1px solid #6cbbbb; z-index:1000;}
header .ico,
header .btn-car{height:30px; position:absolute; top:5px;border-radius:5px; color:#fff;}
header .btn-car{ background:#68b5b5; line-height:30px; padding:0 5px; right:10px;}
header .ico{  left:10px;  background:#e8645a; }
header .ico.ico-prev{width:34px; height:30px; background:url(/assets/mobile/micro_store/ico-prev.png) no-repeat center center; background-size:contain;}
header .ico.ico-menu{ line-height:30px; padding:0 5px;}
header .ico-prev img{ height:30px; width:34px; vertical-align:middle;}
header h1{ width:70%; line-height:40px; margin:0 15%; color:#fff;text-align:center; text-shadow:1px -1px 1px #60a4a4;}
header a.ico i{
    border-style:solid dashed dashed;
    border-width:4px;
    border-color:#fff transparent transparent;
    width:0px;
    height:0px;
    margin:10px 0 0 5px;
}
header a.ico.active i{
    -webkit-transform:translate(0, -5px) rotate(180deg);
}
/*section*/
section{ padding:40px 0 0 0;}
/*box*/
.box,
.box.box-ck{ background:#fff; padding:4%; width:88%; margin-bottom:2px; overflow:hidden;}
p.box{ background:none; padding:0; width:96%;}
.box-null{ padding:20% 4%; text-align:center; background:none;}
.box-null .btn{ padding:0 10px;}
/*box-order*/
.box-order .hd,
.box-order .bd,
.box-order .ft{ padding:0 0 10px 0; width:100%; overflow:hidden;}
.box-order .hd{}
.box-order .bd{}
.box-order .ft{}
.box-order b{ color:#444; line-height:30px;}
.box-order p,
.box-order label{ width:100%; float:left; overflow:hidden; padding:5px 0;}
.box-order .hd img{ max-width:24px;}
.box-order .hd .fl{ width:15%;}
.box-order .hd .fr{ width:85%;}
.box-order .bd .fl{ width:10%;}
.box-order .bd .fr{ width:90%;}
.box-order i,
.box-order select,
.box-order input{ float:left;}
.box-order .hd .fr i{ width:4%; text-align:center; display:inline-block; height:30px; line-height:30px;}
.box-order select.input-day{ width:100%;}
.box-order select.input-time{ width:48.2%;}
.box-order .ft select{ width:100%;}
.box-order .ft input{ width:96%;}
.box-order .bd label{ color:#888;}
.box-order .bd input{margin:0 5px 0 0;}
.box-order .ft .btn{ width:100%;}
/*box-order-text*/
.box-order-text p{ width:100%; overflow:hidden; float:left; line-height:20px; color:#444; border-bottom:1px dashed #ccc; padding:5px 0;}
.box-order-text p:last-child,
.box-order-text p.last{ border:0;}
.box-order-text b{ float:left;}
.box-order-text span{ float:right; width:70%;}
.box-order-text img{ max-width:100%;}
.box-order-text textarea{ width:95%; padding:2%; border-radius:5px;}
.order-edit b{ line-height:30px;}
/*box-order-list*/
.box-order-list{ padding:0; width:96%;}
.box-order-list a{ padding:10px 4%; border-bottom:1px dashed #ccc; color:#888; width:92%; float:left; overflow:hidden; line-height:20px; background:url(/assets/mobile/micro_store/bg_ico_gored.png?2013) no-repeat right center;}
.box-order-list a:active,
.box-order-list a.active{ background:url(/assets/mobile/micro_store/bg_ico_gowri.png?2015) no-repeat right center #e8645a; color:#fff;}
.box-order-list a:last-child{ border:0;}
.box-order-list a p{ width:100%;}
.box-order-list b{ float:left;}
.box-order-list span{ float:right; width:70%; }
/*box-ck*/
.box-ck{overflow:hidden; float:left;border-bottom:1px dashed #ccc; padding:5px 0;width:100%;}
.box-ck b,
.box-ck span,
.box-ck p{ width:auto; float:none; border:0; padding:0;}
.box.box-ck{ border:0;}
.box.box-ck img{ max-width:100%;}
/*box-list*/
.box-list{ position:relative;}
.box-list .hd,
.box-list .bd,
.box-list .ft{ float:left; overflow:hidden;}
.box-list .hd{ width:40%; border-radius:5px;}
.box-list .hd img{ max-width:100%;}
.box-list .bd{ width:55%; padding:0 0 0 5%;}
.box-list .bd.fw{ width:100%; padding:0;}
.box-list .bd b{ color:#333; font-size:15px; padding:0 0 5px 0;}
.box-list .bd p{ color:#999; overflow:hidden; padding:0 0 5px 0;}
.box-list .bd p span{ width:70%;}
.box-list .bd p b,
.box-list .bd b span{ float:left;}
.box-list .bd p.list-number b{ line-height:32px;}
.box-list .ft{ border-top:1px solid #eaeaea; padding:10px 0 0 0; width:100%; margin:10px 0 0 0;}
.box-list .ft a{ width:32%; border-right:1px solid #eaeaea; text-align:center; height:20px; line-height:20px; color:#e8645a;}
.box-list .ft a:last-child{ border:0;}
.box-list .ft img{ max-height:18px; padding:0 5px 0 0; vertical-align:top;}
/*box-number*/
.box-number{ overflow:hidden;}
.box-number i,
.box-number input,
.box-number a{display:inline-block; float:left;}
.box-number i{ background:#e8645a; width:20px; height:32px; line-height:32px; text-align:center;  border-radius:5px; color:#fff; margin:0;}
.box-number input{ width:20%; margin:0 5px; text-align:center;}
/*box-search*/
.box-search{ height:30px; width:96%; padding:5px 2% 12px 2%; background:url(/assets/mobile/micro_store/bg_top_bg.png) left bottom; background-size:contain; overflow:hidden;}
.box-search input[type="search"],
.box-search input[type="search"]:focus{ background:url(/assets/mobile/micro_store/bg_ico_search.png) no-repeat 5px center; background-size:auto 15px; padding:0 5px 0 25px; width:75%;}
.box-search .btn{ width:16%;}
.box-search .fl{ width:80%;}
.box-search .fr{ width:20%;}
.box-search .fr a{ width:100%; text-align:center; height:100%; overflow:hidden; float:left; margin:-2px 0 0 0;}
.box-search .fr a span{ width:100%; font-size:12px; color:#888;}
.box-search .fr img{ max-height:18px; vertical-align:top;}
/*box-line*/
.box-line{background:url(/assets/mobile/micro_store/bg_top_bg.png) left bottom; background-size:contain;}
/*menu-order*/
.box.menu-order{ padding:0; width:96%; color:#888;}
.menu-order .hd{ height:30px; line-height:30px; background:#eee; color:#444; padding:0 2%; border-bottom:1px solid #ccc;}
.menu-order .bd{ padding:10px 2%; overflow:hidden;}
.menu-order .fl{ width:70%;}
.menu-order .fr{ width:30%; text-align:center;}
.menu-order .fr .btn{ padding:0 5px; margin:5px 0;}
.menu-order .fl input{ width:80%;}
.menu-order .fl p{ width:100%; float:left; overflow:hidden; line-height:30px; padding:0 0 5px 0;}
.menu-order .fl b{ float:left;}
.menu-order .fl span{float:right; width:65%;}
.menu-order .fl span b{ color:#ff0000;}
.menu-order b{ font-weight:normal;}
.menu-order .td{ width:33%; padding:5px 0; border-bottom:1px dashed #ccc;}
.menu-order em{ text-align:left;}
.menu-order b.td{ text-align:right;padding:0 5px; color:#444;}
.menu-order b.td i{ color:#888;}
.menu-order span.td{}
/*btn*/
.btn{ border:0; background:#e8645a; height:30px; line-height:30px; color:#fff; text-align:center; font-size:16px; border-radius:5px;}
.btn:active,
.btn.active{ background:#e35144;}
p.box .btn{ width:100%;}
.btn.btn-blue{ background:#68b5b5;}
/*map*/
#dituContent {
  width: 100%;
  position:fixed;
  height:100%;
    top:0;
    left:0;
}
.map-info{ position:fixed; width:100%; left:0; bottom:0;}
.map-title{ height:45px; color:#fff; font-size:12px; padding:5px 10px; overflow:hidden; position:relative;}
.map-title h1{ font-size:14px; line-height:25px; color:#fff;}
.box-bd{ z-index:100; position:absolute;}
.box-bg{ position:absolute; background:#000; z-index:10; width:100%; height:100%; top:0; left:0;opacity:0.6;
filter:alpha(opacity=60);
-moz-opacity:0.6;
-khtml-opacity:0.6;}
.map-list{ background:#fff;}
.map-list p{ height:35px; line-height:35px; padding:0 10px; border-bottom:1px dashed #c2c2c2; background:url(../img/bg_ico_gored.png) no-repeat 96% center;}
.map-list p:last-child{ border:0;}
.map-list img{ max-width:14px; vertical-align:middle; padding:0 5px 0 0;}
.map-list p,
.map-list a{color:#666; }
/*pop*/
.pop-nav .pop-bd{background:#fff; width:80%; right:auto; left:0; box-shadow:0 0 20px #000; overflow-y:auto; overflow-x:hidden; -webkit-transition: -webkit-transform 200ms; bottom:0;}
.pop-nav .pop-bd.on{-webkit-transform: translate(0, 0);}
.pop-nav .pop-bd .hd{ width:100%; height:40px;}
/*other*/
.fred{ color:#e8645a;}
.fgray,
.box-order-text p.fgray{ color:#888;}
/** comment **/
.mess3, .comment{
  width: 90%;
  background: #fff;
  border-radius: 5px 5px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.comment-input:focus {outline: none;}
.mess3, .comment{margin:0 auto;padding:0 15px 15px;width:93%;}
.comment-t{margin-top:15px;font-size:16px;}
.comment-input{width:95%;height:100px;line-height:20px;padding:3px 5px;resize:none;border:2px solid #ccc;border-radius:5px;}
.comment-submit{padding:5px 15px;border:0 none;}
.comment-list{line-height:25px;font-size:14px;color:#333;}
.comment-list li{padding:5px 0;border-bottom:1px dashed #ccc;*zoom:1;}
.comment-list li:after{display:block;visibility:hidden;width:0;height:0;content:"";clear:both;}
.comment-list li:hover{background:#f2f2f2;}
.user-name,.comment-time{width:20%;float:left;font-size:12px;color:#999;}
.comment-info{width:60%;float:left;}
.comment-time{text-align:right;}
