{include file=$header}
    <p class="bordertop"></p>    <div class="subcon">
		    	<div class="clickbtn" style="display:none">
            <div class="classbtn"><p>点击展示分类</p></div>
            <div class="classbtn2"><p>点击关闭分类</p></div>
        </div>
        <ul class="subnav2">
			            <li><p><a href="@" title=""></a></p></li>
                        <div class="clear"></div>
        </ul>
				        <ul class="product">
			            
                    {if $contents}
			{foreach from=$contents item=c}
		        <li><div>
            <a href="{$c.link}" title="{$c.title}"><img src="{$c.thumb}" alt="{$c.title}"></a>
            <p><a href="{$c.link}" title="{$c.title}" class="prodtitle">{$c.title}</a></p></div>
        </li>
		     {/foreach}
			 {/if}
                    </ul>
        <div class="clear"></div>
			 {if $currentPage&&$totalPage}
    <div class="pages">
			<a class="pre-left" href="{$previousPageLink}">&lt;</a>
		<span>{$currentPage}/{$totalPage}</span>
		<a class="next-left" href="{$nextPageLink}">&gt;</a>
	        <div class="clear"></div>
    </div>
	{/if} </div>
    <p class="borderbottom"></p>
</div>
{include file=$footer}

