/***************************loading********************************/
.loading-box{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	background-position: center;
	background-size: 32px 32px;
	display: none;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-image: url(../img/loading.gif);
}
.loading-box.show{
	display: block;
}