.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}



/******************************/
.list_ul li{
	
}
.list_ul dl{
	text-align:center;
	line-height:20px;
	border-bottom:1px solid #dadada;
	/*width:50%;*/
}
.list_ul dl a{
	padding:5px 0;
	display:block;
	color:#909090;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fffbfc), to(#f0f0ee));
}
.list_ul dl:nth-of-type(2){
	border-right:1px solid #dadada;
}
.list_ul dd{
	background:#f28e74;
	width:50px;
	display:table;
	margin:auto;
	border:3px solid #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border-radius:45px;
}

.list_ul li dt{
	width: 100px;
	margin: auto;
	overflow: hidden;
}
.list_ul div{
	color:#ffffff;
	width:100%;
	text-align:center;
	height:50px;
	vertical-align: middle;
	display:table-cell;
	font-size:30px;
}

/*********************************/
.list_ul li:nth-of-type(1) dl:nth-of-type(1) dd{background:#f28e74;}
.list_ul li:nth-of-type(1) dl:nth-of-type(2) dd{background:#a8d691;}
.list_ul li:nth-of-type(1) dl:nth-of-type(3) dd{background:#4fd2be;}
.list_ul li:nth-of-type(1) dl:nth-of-type(4) dd{background:#f7ba5b;}

.list_ul li:nth-of-type(2) dl:nth-of-type(1) dd{background:#4fd2be;}
.list_ul li:nth-of-type(2) dl:nth-of-type(2) dd{background:#f28e74;}
.list_ul li:nth-of-type(2) dl:nth-of-type(3) dd{background:#f7ba5b;}
.list_ul li:nth-of-type(2) dl:nth-of-type(4) dd{background:#a8d691;}

/*********************************/
.list_card li dl{
	width:50%;
	padding:10px 0 0 0;
}
.list_card li dl:only-child{
	width:50%;
	margin-left:-50%;
}

.list_card li dl a{
	display:block;
	width:150px;
	height:90px;
	margin:auto;
	overflow:hidden;
	border-radius:5px;
	-webkit-box-shadow:1px 2px 2px rgba(0,0,0,0.2);
}

.list_card li dl a img{
	width:100%;
	min-height:90px;
}