{include file=$header}
<ul class="news-font-ul">
   {if $contents}
			{foreach from=$contents item=c}
			<a href="{$c.link}" title="{$c.title}"><li>{$c.title}</li></a>
		     {/foreach}
			 {/if}
            </ul>
    <div class="clear"></div>
    {if $currentPage&&$totalPage}
    <div class="pages">
			<a class="pre-left" href="{$previousPageLink}">&lt;</a>
		<span>{$currentPage}/{$totalPage}</span>
		<a class="pre-left" href="{$nextPageLink}">&gt;</a>
	        <div class="clear"></div>
    </div>
	{/if}
{include file=$footer}
