html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

body { background-color:#eee; font-size:16px; }
body  .mainmenu {margin:6px;border-radius:5px; overflow:hidden; border:1px solid #d8e0cb;}
body  .mainmenu li { border-bottom:1px solid #CCC; background:-webkit-gradient(linear, 55% 100%, 55% 0%, from(#f1f1f1), to(#ffffff)); overflow:hidden }
body  .mainmenu li a { display:block;   padding:6px 30px 6px 20px; position:relative;box-shadow:0 -1px 1px rgba(255, 255, 255, 1) inset;}

body  .mainmenu li a em { display:block; width:8px; height:100%; position:absolute; left:0px;top: 0;}
body  .mainmenu li a p{  color:#858585;}
body  .mainmenu li a span {  line-height:24px; color:#4a4a4a }
body  .mainmenu li a i{ display:block; line-height:24px; font-size:12px;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#b0b0b0; font-style: normal;}
body  .mainmenu li a b{ display:block;  width:15px; height:19px; position:absolute; top:50%; margin-top:-10px; right:10px;  background:url(../images/jt.png) no-repeat; background-size:15px 19px;}

body  .mainmenu li:last-child{ border-bottom:none}




body .mainmenu li:nth-child(8n+1) a em {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) a em {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) a em {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) a em {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) a em {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) a em {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) a em {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) a em {background-color:#fc5366}