body{ background: #4a5068;}
.article{ margin: 10px 2%; width: 96%; padding: 10px; background: #fff; border-radius: 5px;}
.article .hd,
.article .bd{ padding: 5px; line-height: 20px;color: #444;}
.article .hd{ padding: 10px 5px 10px 5px; border-bottom: 1px dashed #333;}
.article .hd h1{ font-size:18px; font-weight: normal;}
.article .hd small{font-size: 12px; color: #6764ab;}
.article .bd{}
.article img{ max-width: 100%;}
.article .bd ul,
.article .bd ol{-webkit-padding-start:20px;}
.btn-up-1{ background: #4a5068;}
.btn-up-1 .fa{ background: #fff; color: #4a5068;}
.navPop-1 .navPop-btn{ background: #4a5068;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #4a5068;}
.navPop-wrap>div a{
    background: #4a5068;
    color: #fff;
}