<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="Bookmark Icon" href="favicon.ico" />
<link href="logo.png" sizes="114x114" rel="apple-touch-icon">
<meta name="Author" content="024" />

<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDescription}"/>
<LINK href="templates/v14/jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="/3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" rel=stylesheet>
<LINK href="{$cssdir}/style.css?{$rand}" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="/3g/common/js/jquery-1.6.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="/3g/common/js/nav.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="/3g/common/js/search.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="common/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/common-a.js" tppabs="/3g/common/js/common-a.js"></script>
<title>{$metaTitle}</title>

{literal}
<script type="text/javascript">
$(document).bind("mobileinit", function(){
	$.mobile.ajaxEnabled=false;
});
</script>
{/literal}
</head>
<body>
<div data-role="page">
    <header data-role="header">
    <div class="top_wrap">
      <div class="top">
      <div class="btn_nav"><a href="#" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/menu.png" tppabs="images/menu.png"/></a></div>
        <div class="logo"><a href="{$homeurl}" title="{$metaTitle}" data-ajax="false"><img src="{$site.logourl}" tppabs="images/logo.png"></a></div>
        <div class="btn_search"><img src="smarty/templates/tpls/{$site.template}/earch.png" tppabs="images/earch.png" alt="搜索"/></div>
        <ul class="top_nav">
         
  {if $navChannels}
{foreach from=$navChannels item=n}
	<li><a href="{$n.link}" title="{$n.name}">{$n.name}</a></li>
	{/foreach}
	{/if}
        </ul>
      </div>
    </div>
     
    <div class="search_wrap">
      <form id="search" name="search" method="post" action="?m=site&c=home&a=search&token={$token}" data-ajax="false">
        <input type="text" class="search_txt" name="SeaStr" id="SeaStr" data-role="none" placeholder="请输入关键词"/>
        <input type="submit" class="search_but" data-role="none" value="">
      </form>
    </div>
  </header>
