<div class="search" style="position:relative;top:-4px;">
  <div class="searcharea">
  <form id="search" name="search" method="post" action="?m=site&c=home&a=search&token={$token}" data-ajax="false">
    <input type="text" class="search_txt" name="SeaStr" id="SeaStr" data-role="none" placeholder="请输入关键词"/>
    <input type="submit" class="search_but" data-role="none" value="">
  </form>
  </div>
</div>
<div class="footer" style="position:relative;top:-4px;">
  <ul>
    <li class="foottel" style="border-left:0;"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}" title="电话" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/tel.png" tppabs="images/tel.png" />电话</a></li>
    <li class="footmail"><a href="sms:{$company.mp}" title="短信" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/mess.png" tppabs="images/mess.png" />短信</a></li>
    <li class="footmap" style="border-right:0;"><a href="?token={$token}&m=site&c=home&a=map" tppabs="html/map.html" title="地图" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/map.png" tppabs="images/map.png" />地图</a></li>
  </ul>
</div></div>
<!--menu start-->
{if $showPlugMenu}
<link rel="stylesheet" href="/tpl/Wap/default/common/css/flash/css/plugmenu.css">
<div class="plug-div">
        <div class="plug-phone">
            <div class="plug-menu themeStyle" style="background:{$site.plugmenucolor}"><span class="close"></span></div> 
               {foreach from=$plugmenus item=vo key=k}
                        <div class="themeStyle plug-btn plug-btn{$k+1} close" style="background:{$site.plugmenucolor}">
							<a  href="{$vo.url}">
								<span style="background-image: url(/tpl/Wap/default/common/css/flash/images/img/{$vo.name}.png);" ></span>
							</a>
						</div>
                     {/foreach}
<div class="plug-btn plug-btn5 close"></div>
                    </div>
</div>
<script src="/tpl/Wap/default/common/css/flash/js/zepto.min.js" type="text/javascript"></script>
<script src="/tpl/Wap/default/common/css/flash/js/plugmenu.js" type="text/javascript"></script>
{/if}
<!--menu end-->
</body></html>