html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#666; }
.copyright a { color:#666; }
h2 { font-size:16px; }
body { background-color:#eee; }
body .mainmenu:after { clear: both; content: " "; display: block; }
body .mainmenu li { float:left; margin-left: 2.5%; margin-top: 2.5%; width: 30%; border-radius:3px; overflow:hidden; }
body .mainmenu li a { display:block; color:#FFF; text-align:center; padding:10px 0; }
body .mainmenu li a b { display:block; }
body .mainmenu li a img { width: 50px; height: 50px; }
body .mainmenu li a span { display:block; height:30px; line-height:30px; color: #fff; font-size:14px; }
body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}



body { background-color:#151515; }
body .mainmenu li { width: 33.3%; border-radius:0; margin: 0; }
body .mainmenu li a {  padding:15px 0 5px 0; }
body .mainmenu li a img { width: 46px; height: 46px; }

body .mainmenu li:nth-child(3n+2) {width: 33.4%;}


body .mainmenu li:nth-child(18n+1) {background-color:#0075F9}
body .mainmenu li:nth-child(18n+2) {background-color:#0081FA}
body .mainmenu li:nth-child(18n+3) {background-color:#0075F9}

body .mainmenu li:nth-child(18n+4) {background-color:#0060DF}
body .mainmenu li:nth-child(18n+5) {background-color:#006be3}
body .mainmenu li:nth-child(18n+6) {background-color:#0060DF}

body .mainmenu li:nth-child(18n+7) {background-color:#004DC4}
body .mainmenu li:nth-child(18n+8) {background-color:#0057cc}
body .mainmenu li:nth-child(18n+9) {background-color:#004DC4}

body .mainmenu li:nth-child(18n+10) {background-color:#0037A0}
body .mainmenu li:nth-child(18n+11) {background-color:#003eab}
body .mainmenu li:nth-child(18n+12) {background-color:#0037A0}

body .mainmenu li:nth-child(18n+13) {background-color:#004DC4}
body .mainmenu li:nth-child(18n+14) {background-color:#0057cc}
body .mainmenu li:nth-child(18n+15) {background-color:#004DC4}

body .mainmenu li:nth-child(18n+16) {background-color:#0060DF}
body .mainmenu li:nth-child(18n+17) {background-color:#006be3}
body .mainmenu li:nth-child(18n+18) {background-color:#0060DF}