html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

body {background-color:#FFF; }
body  .mainmenu{ overflow:hidden; padding:20px 0px 50px; position:relative;height:100%;}
body  .mainmenu .line{ height:100%;width:2px;background-color: #ccc; position: absolute; top:0; left:50%;margin-left:-1px;}
body  .mainmenu li{ float:left;    width:50%; text-align:center; position:relative ;height:130px; margin-bottom: 3%;}
body  .mainmenu li a p { position:relative; width:100% }
body  .mainmenu li a p i{ height:2px; background-color:#ccc; width:50%; position:absolute; z-index:-1}
body  .mainmenu li a p img{ width:98px; height:98px;border-radius:100%; box-shadow: 0 0 0 2px #fff ,0 0 0 3px #ccc; background-color: #ccc;  }
body  .mainmenu li a p b{ display:block; width:100%; line-height:30px; text-align:center; font-size:12px; color:#505359;   }
body  .mainmenu li:active{ opacity:0.4}
body  .mainmenu li:nth-child(2n+1) a p{position:absolute; bottom:-30%}
body  .mainmenu li:nth-child(2n+1) a i{ right:0px; top:35%;}
body  .mainmenu li:nth-child(2n+2) a i{ left:0px; top:35%;}