*{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	-webkit-text-size-adjust: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
}
img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}


.dialogWindow{
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index:9000;
	width:300px;
	height:200px;
	background:#fff;
	border-radius:5px;
	-webkit-box-sizing:border-box;
}
.dialogWindow header, .dialogWindow footer{
	height:35px;
	line-height: 35px;
	padding: 0 10px;
}
.dialogWindow header:empty, .dialogWindow footer:empty{
	display:none;
}

.dialogWindow.on{
	display:block;
}
.dialogCover{display:none;}
.dialogWindow.on+.dialogCover{
	display:block;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	background:rgba(0,0,0,0.2);
}

.dialogWindow header>dl{
	display:table;
}
.dialogWindow header>dl>dd{
	display:table-cell;
	width:100%;
}
/**********/
.dialogWindow .dialogContent{
	height:140px;
	padding:0;
	-webkit-box-sizing:border-box;
}
/**********/
.dialogWindow .dialogBtn{
	display: block;
	width:100px;
	line-height:30px;
	border:1px solid #ccc;
	text-align:center;
	margin:auto;
}
/***************************/
.dialogWindow[data-type="dialog"]{
	width:100px;
	height:100px;
	-webkit-background-size:35px auto;
	background-size:35px auto;
	background-color:rgba(0,0,0,0.3);
	border:1px solid #888;
	border-radius:5px;
}