html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#666; }
.copyright a { color:#666; }
h2 { font-size:16px; }
body { background-color:#eee; }
body .mainmenu:after { clear: both; content: " "; display: block; }
body .mainmenu li { float:left; margin-left: 2.5%; margin-top: 2.5%; width: 30%; border-radius:3px; overflow:hidden; }
body .mainmenu li a { display:block; color:#FFF; text-align:center; padding:10px 0; }
body .mainmenu li a b { display:block; }
body .mainmenu li a img { width: 50px; height: 50px; }
body .mainmenu li a span { display:block; height:30px; line-height:30px; color: #fff; font-size:14px; }
body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}




body { background-color:#151515; }
body .mainmenu li { width: 33%; border-radius:0; margin: 0; }
body .mainmenu li a {  padding:10px 0 0 0; }
body .mainmenu li a img { width: 46px; height: 46px; }
body .mainmenu li:nth-child(3n+1) {margin-bottom: 15px;}
body .mainmenu li:nth-child(3n+2) {margin-bottom: 15px;width: 34%;}
body .mainmenu li:nth-child(3n+3) {margin-bottom: 15px;}

body .mainmenu li:nth-child(12n+1) {background-color:#148f1e}
body .mainmenu li:nth-child(12n+2) {background-color:#148f1e}
body .mainmenu li:nth-child(12n+3) {background-color:#148f1e}
body .mainmenu li:nth-child(12n+4) {background-color:#ff9900}
body .mainmenu li:nth-child(12n+5) {background-color:#6600cc}
body .mainmenu li:nth-child(12n+6) {background-color:#0573ee}
body .mainmenu li:nth-child(12n+7) {background-color:#6600cc}
body .mainmenu li:nth-child(12n+8) {background-color:#ff9900}
body .mainmenu li:nth-child(12n+9) {background-color:#ef269a}
body .mainmenu li:nth-child(12n+10) {background-color:#0573ee}
body .mainmenu li:nth-child(12n+11) {background-color:#0573ee}
body .mainmenu li:nth-child(12n+12) {background-color:#ff9900}