@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	font-size:12px;
}
h1,h2,h3,h4,p,ul,ol{
	margin:0px;
	padding:0px;
	}
.fl{
	float:left;
    }
.fr{
	float:right;
	}
input{
	font-family: Arial, Helvetica, sans-serif;
	}
/**/
.colRed{
	color:#e31064;
	}
.font14px{
	font-size:14px;
	}
.top{
	width:100%;
	height:30px;
	line-height:30px;
	background:#e31064;
	font-size:16px;
	color:#fff;
	text-align:center;
	}
.main, .main02{
	background:url(bg011.jpg) no-repeat center top ;
    min-height:470px;
	}
.main02{
	background:url(bg033.jpg) no-repeat center top ;
	display:none;
	}
.mainContent{
	position:relative;
	width:305px;
	margin:0 auto;
	}
.mainContent p{
	line-height:18px;
	}
.meetingContent a{color:white;text-decoration: none;}
.indexBg{
	/**/
	width:186px;
	height:196px;
	position:relative;
	top:64px;
	left:11px
	}
.meetingContent{
	color:#fff;
	font-size:16px;
	position:absolute;
	}
.meetingContent01{
	top:18px;
	left:35px;
	}

.meetingContent02{
	left:72px;
	top:76px;
	}
.meetingContent03{
	left:44px;
	top:132px;
	}
.meetingContent04{
	left:138px;
	top:70px;
	}
.back{
	width:47px;
	height:25px;
	background: #a60042;
	display:inline-block;
	line-height:25px;
	margin-top:3px;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;          /* W3C syntax */
	position:absolute;
	left:0px;
	top:0px;
}

.subPageH1{
	color:#fff;
	font-size:16px;
	padding-top:34px;
	margin-left:30px;
	font-weight:normal;
	}
.contentWarp{
	padding-left:10px;
	padding-right:10px;
	padding-top:43px;
	}
.article{
	/*text-indent:24px*/
	}
.inputTxt{
	width:280px;
	height:28px;
	line-height:28px;
	color:#999;
	border:none;
	background:none;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;          /* W3C syntax */
	background:#fff;
	border:1px solid #e7c7b2;
	padding-left:4px;
	font-size:12px;
	}
.formContent{
	
	}
.formP{
	margin:10px 0px 10px 0px;
	}
.formRadio{
	vertical-align:-2px;
	}
.formTextarea{
	height:77px;
	text-align:left;
	font-size:12px;
	}
.formBtn{
	background:#e41064;
	height:30px;
	width:53px;
	text-align:center;
	color:#fff;
	border:none;
	display:inline-block;
	font-style:normal;
	padding:0px;
	cursor:pointer;
	}
.tit{
	font-size:18px;
	text-align:center;
	margin-bottom:15px;
	}