html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

body {background-color: #eee; }

body  .mainmenu { width:96%; margin:10px auto 0px;display: block;overflow: hidden;}
body  .mainmenu li{ float:left; width:50%;height: 100px; overflow:hidden;}
body  .mainmenu li a{ display:block;  color:#FFF; margin:0px 10px 0px 10px; position:relative ; height: 130px;    }
body  .mainmenu li a p{ height:50%; padding-top:10px; overflow:hidden; text-align:center; position: relative; display: block;}
body  .mainmenu li a img{ width:90%; border-radius:9px;-webkit-transform: rotate(-7deg) ; box-shadow:0 -1px 3px rgba(0, 0, 0, 0.24); margin-top: 10px;}
body  .mainmenu li a i{ position: absolute;
z-index: 2;
bottom: -1px;
display: block;
height: 1px;
width: 100%; box-shadow:0 -1px 3px rgba(0, 0, 0, 0.46)}
body  .mainmenu li a span{ display:block;line-height:30px; font-size:14px; color:#505359; text-align:center;  padding:0px 10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}