html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#C09C7C;}
.copyright a{color:#C09C7C;}

body {background-color:#5C2201; font-size: 14px; }
body .mainmenu{ margin:0px auto; background:url(../images/5_line.jpg) repeat-y;  background-size: 100% auto ;overflow:hidden; display: block;}

body .mainmenu .sc,body .mainmenu .gc,body .mainmenu  .bottom{ width:100%;}

body .mainmenu ul{ margin:0 auto; padding:0%  4%; overflow:hidden ;    }

body .mainmenu li{ float:left; margin-left:1%;  width:32%;   }

body .mainmenu li a{ display:block;  color:#FFF;   text-align:center }
body .mainmenu li a:active{ background-color:rgba(0,0,0,0.2); border-radius:5px;}

body .mainmenu li a img{  width:45%; }
body .mainmenu li a p{ display:block; line-height:22px;color:#5C2201; font-size:14px; }

body .mainmenu div:last-of-type .gc{ display:none}