html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#0099cb;}
.copyright a{color:#0099cb;}
h2 {
	font-size:16px;
}
body {background-color:#005E92; }

body .hd{ height: auto;width:100%}
body  .mainmenu:after{clear: both;
content: " ";
display: block;}
body  .mainmenu li{ float:left; margin-left:1%; margin-top:1%; width:32%;   background-color:#0099cb; height:100px; border-radius:3px; }
body  .mainmenu li:nth-child(2n){ background-color:#FFF}
body  .mainmenu li:nth-child(2n) a{ color:#0099cb}
body  .mainmenu li a{ display:block;  color:#FFF;  height:100% }
body  .mainmenu li a i{ display:block; height:41%}
body  .mainmenu li a img{ float:right; margin:7px 7px 0px 0px; width:30px; height:30px;}
body  .mainmenu li a p{ clear:both; height:50%; padding-left:6%;}
body  .mainmenu li a p b{ display:block; line-height:18px; font-size:14px; width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
body  .mainmenu li a p span{ display:block; height:32px; width:95%; font-size:12px; line-height:16px; margin-top:5px; overflow:hidden}