<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="Bookmark Icon" href="favicon.ico" />
<link href="logo.png" sizes="114x114" rel="apple-touch-icon">
<meta name="Author" content="024" />

<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDescription}"/>
<LINK href="templates/v14/jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="/3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" rel=stylesheet>
<LINK href="{$cssdir}/style.css?{$rand}" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="/3g/common/js/jquery-1.6.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="/3g/common/js/nav.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="/3g/common/js/search.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="common/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/common-a.js" tppabs="/3g/common/js/common-a.js"></script>
<title>{$metaTitle}</title>
</header>
<body>
<div class="topbg">
{if $homepage}
<img src="smarty/templates/tpls/{$site.template}/searchbtn.jpg" tppabs="images/searchbtn.jpg" alt="" class="searchbtn">
{else}
<a href="{$homeurl}" tppabs="html/index.html" title="返回首页"><img src="smarty/templates/tpls/{$site.template}/homebtn.jpg" tppabs="images/homebtn.jpg" alt="返回首页" class="searchbtn"></a>
{/if}
	
	<a href="{$homeurl}" tppabs="html/index.html" title="logo" class="logo"><img src="{$site.logourl}" style="max-height:30px;"  alt="{$metaTitle}"></a>
    <img src="smarty/templates/tpls/{$site.template}/navbtn.jpg" tppabs="images/navbtn.jpg" alt="" class="navbtn">
</div>
<ul class="navbg">
	{if $navChannels}
{foreach from=$navChannels item=n}
	<li><a href="{$n.link}" title="{$n.name}">{$n.name}</a></li>
	{/foreach}
	{/if}
</ul>
{if $homepage}

    <div class="{if $homepage}search{else}subsearch{/if}">
		<form id="search" name="search" method="post" action="?m=site&c=home&a=search&token={$token}">
			<input type="text" class="text" name="SeaStr" id="SeaStr" placeholder="请输入搜索关键词"/>
			<input type="submit" class="button" title="搜索" value="">
		</form>
    </div>
	
{/if}