<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="Bookmark Icon" href="favicon.ico" />
<link href="logo.png" sizes="114x114" rel="apple-touch-icon">
<meta name="Author" content="024" />

<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDescription}"/>
<LINK href="templates/v14/jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="/3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" rel=stylesheet>

<LINK href="{$cssdir}/style.css?{$rand}" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="/3g/common/js/jquery-1.6.4.min.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="/3g/common/js/nav.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="/3g/common/js/search.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="common/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/common-a.js" tppabs="/3g/common/js/common-a.js"></script>
<title>{$metaTitle}</title>
</head>

<body>
<!--top-->
<div class="topbg">
  <center class="logo"><a href="{$homeurl}"  title="{$metaTitle}"><img style="max-height:40px;" src="{$site.logourl}"  alt="{$metaTitle}" class="logo"></a></center>
</div>
<div class="nav"><a href="javascript:void(0);" title="导航按钮" class="navbtn"></a>
</div>
<ul class="navbg">

    {if $navChannels}
{foreach from=$navChannels item=n}
	<li><a href="{$n.link}" title="{$n.name}">{$n.name}</a></li>
	{/foreach}
	{/if}
</ul>