html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#fff; }
.copyright a { color:#fff; }
h2 { font-size:16px; }
body { background-color:#eee; font-size:14px; }
body .mainmenu:after { clear: both; content: " "; display: block; }

body .mainmenu li { float:left; margin-left: 2%; margin-top: 2%; width: 47%; border-radius:5px; overflow:hidden;background-color:#fff;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);}
body .mainmenu li a { display:block; color:#333; line-height:60px; text-align:center; padding:10px 0px; }
body .mainmenu li a img { margin:10px auto 5px; width:50px; height:50px; }
body .mainmenu li a span { display:block; width:80%; margin:auto; text-align:center; height:30px; line-height:30px; }




html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#666; }
.copyright a { color:#666; }
h2 { font-size:16px; }
body { background-color:#CCC; font-size:14px; }
body .mainmenu li { float: left;
margin-left: 1%;
margin-top: 1%;
width: 48%;
background: -webkit-gradient(linear, 100% 85%, 100% 13%, from(#dbdbdb), to(#ffffff)); border:1px solid #BBB;
overflow: hidden;box-shadow: none;}
body .mainmenu li a { display:block; color:#333; line-height:60px; text-align:center; padding:10px 0px; }
body .mainmenu li a img { margin:10px auto 5px; width:50px; height:50px; }
body .mainmenu li a span { display:block; width:80%; margin:auto; text-align:center; height:30px; line-height:30px; }