<div class="clear"></div>
<ul class="footnav">
   {if $navChannels}
{foreach from=$navChannels item=n key=m}
	{if $m<5}
	<li><a href="{$n.link}" title="{$n.name}">{$n.shortname}</a></li>
    {/if}
	{/foreach}
	{/if}
</ul>
<ul class="foot">
	<li><a href="sms:{$company.mp}" title="短信"><span class="sms">短信</span></a></li>
    <li><a href="?token={$token}&m=site&c=home&a=map" title="地图"><span class="map">地图</span></a></li>
    <li><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}" title="电话"><span class="tel">电话</span></a></li>
    <!--分享(-->
        <li><a href="?token={$token}&m=site&c=home&a=share"  title="分享"><span class="share">分享</span></a></li>
        <!--)分享-->
</ul>
<!--menu start-->
{if $showPlugMenu}
<link rel="stylesheet" href="/tpl/Wap/default/common/css/flash/css/plugmenu.css">
<div class="plug-div">
        <div class="plug-phone">
            <div class="plug-menu themeStyle" style="background:{$site.plugmenucolor}"><span class="close"></span></div> 
               {foreach from=$plugmenus item=vo key=k}
                        <div class="themeStyle plug-btn plug-btn{$k+1} close" style="background:{$site.plugmenucolor}">
							<a  href="{$vo.url}">
								<span style="background-image: url(/tpl/Wap/default/common/css/flash/images/img/{$vo.name}.png);" ></span>
							</a>
						</div>
                     {/foreach}
<div class="plug-btn plug-btn5 close"></div>
                    </div>
</div>
<script src="/tpl/Wap/default/common/css/flash/js/zepto.min.js" type="text/javascript"></script>
<script src="/tpl/Wap/default/common/css/flash/js/plugmenu.js" type="text/javascript"></script>
{/if}
<!--menu end-->
</body>
</html>
