html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*cate8*/
body{background-color: #151515;overflow-x: hidden;margin:0 auto;}
body .mainmenu {
	display:block; 
    margin:0;
	padding:2px;
   
}
body .mainmenu li {
	width:25%;
	float:left;
	overflow:hidden;
	border-radius: 0px;
}
body .mainmenu li .menubtn {
	text-decoration:none;
	color:#000;
	overflow:hidden;
	border-radius: 5px;
	margin:2px;
	background-color:#0c68cf;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

body .mainmenu li a {
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}

body .mainmenu li .menubtn .menuimg {
	overflow:hidden;
	position:relative;
}
body .mainmenu li div img {
	border:0;
	width:100%;
	margin:0;
	padding:0;
	border-radius: 0px;
}
body .mainmenu li .menutitle {
	text-align:center;
	text-decoration: none;
	color:#fff;
	font-size:0.7em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position:absolute;
	bottom:5px;
	width: 100%;
	display: block;
}
body .mainmenu li:nth-child(1){
    width: 49.9%;
}
body .mainmenu li:nth-child(6){
    width: 49.9%;
}
body .mainmenu li:nth-child(7){
    width: 49.9%;
}
body .mainmenu li:nth-child(8){
    width: 49.9%;
}
body .mainmenu li:nth-child(13){
    width: 49.9%;
}
body .mainmenu li:nth-child(14){
    width: 49.9%;
}
body .mainmenu li:nth-child(15){
    width: 49.9%;
}
body .mainmenu li:nth-child(20){
    width: 49.9%;
}
body .mainmenu li:nth-child(21){
    width: 49.9%;
}
body .mainmenu li:nth-child(22){
    width: 49.9%;
}
body .mainmenu li:nth-child(27){
    width: 49.9%;
}
body .mainmenu li:nth-child(28){
    width: 49.9%;
}
body .mainmenu li:nth-child(29){
    width: 49.9%;
}