.body{
    max-width:640px;
    margin:auto;
    min-height:100%;
    background-color:#e1e0de;
    position:relative;
}


.list_ul{
    margin:10px 5px;
    overflow:hidden;
}

.list_ul a{
    color:#666;
    display:block;
    background:#fff;
    border-radius:8px;
    -webkit-box-shadow:1px 2px 1px rgba(0,0,0,0.3);
    padding:0;
    margin:5px;
    color:#666;
    overflow:hidden;
}
.list_ul figcaption{
    color:#fff;
    padding:10px 0;
    background:#2f82aa;
}
.list_ul figcaption p{
    font-size:12px;
}
.list_ul figure div{
    display:inline-block;
    margin:10px auto 5px;
    width:100px;
    height:100px;
    border-radius:100px;
    border:2px solid #fff;
    overflow:hidden;
    -webkit-box-shadow:0 0 3px #ccc;
    box-shadow:0 0 3px #ccc;
}
.list_ul li{
    display:inline-block;
    width:50%;
    float:left;
    text-align:center;
    -webkit-box-sizing:border-box;
}
.list_ul li img{
    width:100%;
    min-height:100%;
}