.body{
    max-width:640px;
    margin:auto;
    min-height:100%;
    background-color:#f4f4f4;
    position:relative;
    /*background:#0f0e0c;*/
    background-color:rgba(255, 152, 0, 0.5);
}


.list_font li{
    /*background-color:#2f2f2f;*/
    background-color:rgba(255, 152, 0, 0.5);
}
.list_font li a{
    color:#fff;
}

.link_tel{
    background-color:#2f2f2f;
}
.copyright{
    color:#fff;
}