body, .pigcms-content{
    background: #ebebeb;
}
.pigcms-list{
    overflow: hidden;
}
.pigcms-list-item{
    width:50%;
    height: auto;
    display: inline-block;
    padding: 1%;
    background: inherit;
    border:none;
    min-width:100px;
    float:left;
    text-align:center;
    -webkit-box-sizing:border-box;
    max-height:150px;
}
.pigcms-list-item-bg>div:first-child{
    height:100px;
    overflow:hidden;
}
.pigcms-list-item-bg{
    min-height: 100%;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    /*background: #FFFFFF;*/
    background-color:rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.pigcms-list-item-title{
    color:#ccc;
}
.pigcms-list-item-image{
    position: relative;
    margin: auto;
    left : 0;
    top:20px;
    width:100%;
    height: 100%;
    border-radius: 48px;
    /*-moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    box-shadow: 2px 2px 2px #C0C0C0;
    -webkit-box-shadow:2px 2px 2px #C0C0C0;
    -moz-box-shadow:2px 2px 2px #C0C0C0;*/
    background-size: contain;
}

.pigcms-list-item-box{
    position: relative;
    margin: auto;
    display: table;
}

.pigcms-list-item-line{
    line-height:30px;
    padding: 0;
    margin: auto;
    text-align: center;
    max-width: 88%;
}
.pigcms-copyright{ color:#000;}


/************************************************************/
li{
    list-style:none;
}


/*************************************************************/
.box_swipe{
    overflow:hidden;
    position:relative;
}
.box_swipe ul{
    -webkit-padding-start: 0px;
}

.box_swipe>ol{
    height:20px;
    position: relative;
    z-index:10;
    margin-top:-25px;
    text-align:right;
    padding-right:20px;
    background-color:rgba(0,0,0,0.3);
}

.box_swipe>ol>li{
    display:inline-block;
    margin:5px;
    width:10px;
    height:10px;
    background-color:#757575;
    border-radius: 10px;
}
.box_swipe>ol>li.on{
    background-color:#ffffff;
}