html, body {
  color:#222;
  font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
  margin:0;
  padding: 0;
  text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
}
img {
  border:0;
}
ol, ul {
  list-style: none outside none;
  margin:0;
  padding: 0;
}
a {
  color:#000000;
  text-decoration: none;
}
.clr {
  display:block;
  clear:both;
  height:0;
  overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*cate12*/
#cate12{background: url(../../images/themes/bg003.jpg) #E2E3E6; background-size:150px auto;overflow-x: hidden;margin:0 auto;}
#cate12 .banner img{
  width:100%;
}
#cate12 .swiper-container {
  width: 100%;
  color: #000;
  text-align: center;
  float:left;
  overflow:hidden;
  position:relative;
}
#cate12 .swiper-wrapper{
  float:left;
  position:relative;
  overflow:hidden;
  width:1111%;
  }
#cate12 .swiper-slide{
  float:left;
  overflow:hidden;
  position:relative;
  
}

#cate12 .pagination {
  z-index: 20;
  float:left;
  position:absolute;
  bottom:10px;
  right:20px;
  
}
#cate12 .swiper-pagination-switch {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #000;
  margin-right: 5px;
  opacity: 0.3;
  float:left;
  border:1px solid #eee;
}
#cate12 .swiper-active-switch {
  background: #fff;
  opacity: 1;
  width: 7px;
  height: 7px;
  border:1px solid #ddd;
}
#cate12 .Category{
  float: left;
    margin: 0 0 5px 2%;
    position: relative;
    width: 96%;
  
  }
#cate12 .Category .cpager{
  float:left;
  position:absolute;
  bottom:5px;
  left:45%;
  }
#cate12 .Category .clist{
  border:1px solid #ccc;
  float:left;
  width:100%;
  position:relative;
  background-color:rgba(255, 255, 255, 0.9);
  border-radius:5px;
  height:auto;
  -moz-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
  }
#cate12 .Category .cname{
  font-size: 16px;
    margin: 5px auto;
    text-align: left;
    width: 98%;
  }
#cate12 .Category .cname .more{
  float:right;
  font-size:12px;
  color:#999;
  margin-top:5px;
  }
#cate12 .Category ul{
  float:left;
  width:96%;
  padding:2%;
  }
#cate12 .Category ul li{
  float:left;
  width:21%;
  margin:1% 2%;
  }
#cate12 .Category ul li a{
  float:left;
  width:100%;
  
  }
#cate12 .Category ul li img{
  float:left;
  width:100%;
  height:100%;
  border-radius:1000px;
  -webkit-box-shadow:1px 1px 3px #ddd inset;
  }
#cate12 .Category ul li div{
  border: 3px solid #fff;
  border-radius: 1000px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: auto;
}
#cate12 .Category ul li span{
  float:left;
  width:100%;
  text-align:center;
  font-size:12px;
  line-height:14px;
  height:28px;
  color:#666;
  margin-top:10%;
  overflow:hidden;
  text-overflow: ellipsis;
  }