<div class="clear"></div>
<div class="footnav">
  <ul>
   {if $navChannels}
{foreach from=$navChannels item=n key=k}
{if $k<5}
	<li><a href="{$n.link}" title="{$n.name}">{$n.shortname}</a></li>
	{/if}
	{/foreach}
	{/if}
  </ul>
</div>
<div class="footer">
  <ul>
    <li class="foottel" style="border-left:0;"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}" title="电话"><img src="smarty/templates/tpls/{$site.template}/tel.png" tppabs="/3g/images/tel.png" />电话</a></li>
    <li class="footmess"><a href="sms:{$company.mp}" title="短信"><img src="smarty/templates/tpls/{$site.template}/mess.png" tppabs="/3g/images/mess.png" />短信</a></li>
    <li class="footmap"><a href="?token={$token}&m=site&c=home&a=map" title="地图"><img src="smarty/templates/tpls/{$site.template}/map.png" tppabs="/3g/images/map.png" />地图</a></li>
    <li class="footshare" style="border-right:0;">
    <!--百度分享(-->
		    <a href="?token={$token}&m=site&c=home&a=share"><img src="smarty/templates/tpls/{$site.template}/share.png" tppabs="/3g/images/share.png">分享</a>
        <!--)百度分享-->
    </li>
  </ul>
</div>
</body>
</html>