{include file=$header}

<div class="clear"></div>
<div data-role="content" class="content">
	<div class="title">

	</div>
	<div class="main">

		<div class="clear"></div>
		<div class="padding20">
			<div class="proul">
				<ul class="ui-grid-a">
                {if $contents}
			{foreach from=$contents item=a key=k}
											<li class="ui-block-{cycle values="a,b"}" style="margin-left:7px;width:45%">
				<div><a href="{$a.link}"  data-ajax="false"><img src="{$a.thumb}"  alt="{$a.title}" />
					<p>{$a.title}</p>
					</a></div>
			</li>
             {/foreach}
		  {/if}
			 			
			 		 				</ul>
			</div>
			<div class="clear"></div>
			        <div class="pages ui-grid-b">  <div class="ui-block-a"><span class="left ui-bar-h" id="dis"><img src="smarty/templates/tpls/{$site.template}/left.png"  alt="上一页"/></span></div>
    <div class="ui-block-b"><div class="page_change">{$currentPage}/{$totalPage}</div></div>
    <div class="ui-block-c"><a href="{$nextPageLink}"  title="下一页" data-ajax="false" class="right ui-bar-h"><img src="smarty/templates/tpls/{$site.template}/right.png"  alt="下一页"/></a></div>
</div>
      		</div>
	</div>
</div>
{include file=$footer}