{include file=$header}
	<ul class="productul">
      {if $contents}
			{foreach from=$contents item=c}
		        <li>
            <div><a href="{$c.link}" title="{$c.title}"><img src="{$c.thumb}" alt="{$c.title}"></a>
            <a href="{$c.link}" title="{$c.title}" class="title">{$c.title}</a></div>
        </li>
		     {/foreach}
			 {/if}
    </ul>
<div class="clear"></div>
{if $currentPage&&$totalPage}
    <div class="pages">
			<a class="pre-left" href="{$previousPageLink}">&lt;</a>
		<span>{$currentPage}/{$totalPage}</span>
		<a class="next-left" href="{$nextPageLink}">&gt;</a>
	        <div class="clear"></div>
    </div>
	{/if}

{include file=$footer}