<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们_魔码网络技术有限公司3G站</title>
<meta name="keywords" content="魔码网络技术有限公司3G站" />
<meta name="description" content="魔码网络技术有限公司3G站"/>
<meta name="Author" content="024">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" />
<link rel="stylesheet" type="text/css" href="style.css?{$rand}" tppabs="3g/css/style.css?{$rand}" />
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="3g/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery.mobile-1.2.0.min.js" tppabs="3g/js/jquery.mobile-1.2.0.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="3g/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="3g/js/search.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="3g/js/nav.js"></script>
<script type="text/javascript">
$(document).bind("mobileinit", function(){
	$.mobile.ajaxEnabled=false;
});
</script>
</head>
<body>
<div data-role="page" data-theme="f">
<div class="wrap">
<div class="headerview" data-role="header">
  <div class="headerviewbg">
    <div class="logo"><a href="index.html" tppabs="3g/html/index.html" title="魔码网络" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/logo.png" tppabs="3g/images/logo.png" alt="魔码网络"/></a></div>
    <div class="search"><img src="smarty/templates/tpls/{$site.template}/search.png" tppabs="3g/images/search.png" alt="搜索按钮"/> </div>
  </div>
</div>
<div class="menu">
  <ul class="ui-grid-d">
    <li class="ui-block-a"><a href="about.html" tppabs="3g/html/about.html" data-ajax="false" title="关于我们">关于我们</a></li>
    <li class="ui-block-b"><a href="news.html" tppabs="3g/html/news.html" data-ajax="false" title="最新资讯">最新资讯</a></li>
    <li class="ui-block-c"><a href="product.html" tppabs="3g/html/product.html" data-ajax="false" title="景观展示">景观展示</a></li>
    <li class="ui-block-d"><a href="case.html" tppabs="3g/html/case.html" data-ajax="false" title="成功案例">成功案例</a></li>
    <li class="ui-block-e"><a href="contact.html" tppabs="3g/html/contact.html" data-ajax="false" title="联系我们">联系我们</a></li>
  </ul>
</div>
<div class="searchmain">
  <div class="search_t"><img src="smarty/templates/tpls/{$site.template}/search_t.jpg" tppabs="3g/images/search_t.jpg" alt="景观检索"/></div>
  <form method="post" action="?m=site&c=home&a=search&token={$token}">
    <input type="text" class="search_txt" name="SeaStr" id="SeaStr" data-role="none" placeholder="请输入关键词"/>
    <input type="submit" class="search_but" data-role="none" value="">
  </form>
</div>
<div class="clear"></div>
<div data-role="content" class="content">
  <div class="title"><span class="fl">关于我们</span></div>
  <div class="padding20 fontweight">
    <p>　　魔码网络技术有限公司，网聚天下商机！等等等<br />
<br />
　　魔码网络，一流的产品推广服务运营商，致力于在互联网时代帮助中国企业进行营销方式的革命，并使他们在这场营销变革中抢占先机。<br />
<br />
　　魔码网络成立于2003年，现有员工近2000人，下设20多家子公司，业务覆盖河北、辽宁、吉林三省，提供域名注册、虚拟主机、企业邮局、网站建设、网络推广、呼叫中心、电子支付等全套网络营销解决方案。<br />
<br />
　　魔码网络从创立至今已经为数万家企业提供了专业的网络营销产品，并通过专业的网络营销服务使这些企业获得了良好的营销效果。<br />
<br />
　　魔码网络聚集IT界的精英，由资深的网站设计师、软件开发工程师、营销顾问专家及专业客服实施顾问团队、技术服务团队等组成。几年来，魔码人本着"自强不息、厚德载物"的企业精神，坚持"诚信为本"的经营理念，以"追求客户的感动"为目标来指导市场动作行为，并逐步推出高质量的网络增值服务，为众多企业实现网络营销梦想做出积极的努力。<br />
<br />
　　今日魔码，如朝阳初升。在中国国际实力日益壮大，经济全球化日益凸显的时代背景下，魔码也将扮演着更为重要的角色，承载着中国更多企业的商业梦想，背负着中国信息产业国际化的历史重任。<br />
<br />
　　魔码网络，最大的代理商；<br />
<br />
　　魔码网络，首家跨省经营的代理商；<br />
<br />
　　魔码网络，唯一一家拥有省级代理资质的代理商。<br />
<br />
　　精诚合作，共赴成功！ </p>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <ul>
    <li class="foothome"><a href="index.html" tppabs="3g/html/index.html" title="网站首页" class="ui-bar-h" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/home.png" tppabs="3g/images/home.png" /></a></li>
    <li class="foottel"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone=96877" title="电话" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/tel.png" tppabs="3g/images/tel.png" /></a></li>
    <li class="footmail"><a href="sms:15804067964" title="短信" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/mess.png" tppabs="3g/images/mess.png" /></a></li>
    <li class="footmap"><a href="map.html" tppabs="3g/html/map.html" title="地图" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/map.png" tppabs="3g/images/map.png" /></a></li>
  </ul>
  <div class="footbanner"><img src="smarty/templates/tpls/{$site.template}/footbanner.png" tppabs="3g/images/footbanner.png" alt="感动你我的生活空间" /></div>
</div>
</div></div>
</body></html>