<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>成功案例_魔码网络技术有限公司3G站</title>
<meta name="keywords" content="魔码网络技术有限公司3G站" />
<meta name="description" content="魔码网络技术有限公司3G站"/>
<meta name="Author" content="024">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" />
<link rel="stylesheet" type="text/css" href="style.css?{$rand}" tppabs="3g/css/style.css?{$rand}" />
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="3g/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery.mobile-1.2.0.min.js" tppabs="3g/js/jquery.mobile-1.2.0.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="3g/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="3g/js/search.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="3g/js/nav.js"></script>
<script type="text/javascript">
$(document).bind("mobileinit", function(){
	$.mobile.ajaxEnabled=false;
});
</script>
</head>
<body>
<div data-role="page" data-theme="f">
<div class="wrap">
<div class="headerview" data-role="header">
  <div class="headerviewbg">
    <div class="logo"><a href="index.html" tppabs="3g/html/index.html" title="魔码网络" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/logo.png" tppabs="3g/images/logo.png" alt="魔码网络"/></a></div>
    <div class="search"><img src="smarty/templates/tpls/{$site.template}/search.png" tppabs="3g/images/search.png" alt="搜索按钮"/> </div>
  </div>
</div>
<div class="menu">
  <ul class="ui-grid-d">
    <li class="ui-block-a"><a href="about.html" tppabs="3g/html/about.html" data-ajax="false" title="关于我们">关于我们</a></li>
    <li class="ui-block-b"><a href="news.html" tppabs="3g/html/news.html" data-ajax="false" title="最新资讯">最新资讯</a></li>
    <li class="ui-block-c"><a href="product.html" tppabs="3g/html/product.html" data-ajax="false" title="景观展示">景观展示</a></li>
    <li class="ui-block-d"><a href="case.html" tppabs="3g/html/case.html" data-ajax="false" title="成功案例">成功案例</a></li>
    <li class="ui-block-e"><a href="contact.html" tppabs="3g/html/contact.html" data-ajax="false" title="联系我们">联系我们</a></li>
  </ul>
</div>
<div class="searchmain">
  <div class="search_t"><img src="smarty/templates/tpls/{$site.template}/search_t.jpg" tppabs="3g/images/search_t.jpg" alt="景观检索"/></div>
  <form method="post" action="?m=site&c=home&a=search&token={$token}">
    <input type="text" class="search_txt" name="SeaStr" id="SeaStr" data-role="none" placeholder="请输入关键词"/>
    <input type="submit" class="search_but" data-role="none" value="">
  </form>
</div>
<div class="clear"></div>
<div data-role="content" class="content">
  <div class="title"><span class="fl">成功案例</span></div>
  <div class="view_title">铁岭站&quot;搜赢天下 智引未来&quot;-9月21日2011年营销中国行</div>
  <div class="padding20">
    <p class="center"><img src="smarty/templates/tpls/{$site.template}/20130321104813-1120289664.jpg" tppabs="3g/upfile/example/pic/20130321104813-1120289664.jpg"></p>    <p>　　吉林省九台禽良种鸡孵化场位于吉林省九台市二道沟（长春&mdash;&mdash;吉林公路北线47公里处，长春龙嘉机场东20 公里），是一家集养殖、孵化为一体的专业禽类良种繁育场。自1998年创办以来，历经多年的探索与实践，以科技兴农、发展精品良种为宗旨，引进开发多个国 内外优良品种。现年存栏种禽30多个品种，3万余套，年可供各种雏苗900万只、种蛋1000万枚。可办理航空，铁路，汽运发货。客户可在当地就近接雏及 种蛋。日前销售网络可达除西藏自治区，青海省，港澳台以外，国内大部分地区。</p>
    <div class="clear"></div>
    <div class="viewback"><a href="case.html" tppabs="3g/html/case.html" title="返回列表" class="ui-bar-i" data-ajax="false">返回列表</a></div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <ul>
    <li class="foothome"><a href="index.html" tppabs="3g/html/index.html" title="网站首页" class="ui-bar-h" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/home.png" tppabs="3g/images/home.png" /></a></li>
    <li class="foottel"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone=96877" title="电话" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/tel.png" tppabs="3g/images/tel.png" /></a></li>
    <li class="footmail"><a href="sms:15804067964" title="短信" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/mess.png" tppabs="3g/images/mess.png" /></a></li>
    <li class="footmap"><a href="map.html" tppabs="3g/html/map.html" title="地图" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/map.png" tppabs="3g/images/map.png" /></a></li>
  </ul>
  <div class="footbanner"><img src="smarty/templates/tpls/{$site.template}/footbanner.png" tppabs="3g/images/footbanner.png" alt="感动你我的生活空间" /></div>
</div>
</div></div>
</body></html>