<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>魔码网络技术有限公司3G站_魔码网络技术有限公司3G站</title>
<meta name="keywords" content="魔码网络技术有限公司3G站" />
<meta name="description" content="魔码网络技术有限公司3G站"/>
<meta name="Author" content="024">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" />
<link rel="stylesheet" type="text/css" href="style.css?{$rand}" tppabs="3g/css/style.css?{$rand}" />
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="3g/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery.mobile-1.2.0.min.js" tppabs="3g/js/jquery.mobile-1.2.0.min.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/banner.js" tppabs="3g/js/banner.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="3g/js/search.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="3g/js/nav.js"></script>
<script type="text/javascript">
$(document).bind("mobileinit", function(){
	$.mobile.ajaxEnabled=false;
});
</script>
</head>
<body>
<div data-role="page" data-theme="f">
<div class="wrap">
  <div class="header" data-role="header">
    <div  class="logo"><a href="index.html" tppabs="3g/html/index.html" title="魔码网络" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/logo.png" tppabs="3g/images/logo.png" alt="魔码网络"/></a></div>
    <div class="header_r">
      <div class="search"><img src="smarty/templates/tpls/{$site.template}/search.png" tppabs="3g/images/search.png" alt="搜索按钮"/> </div>
      <div class="menu_but"><img src="smarty/templates/tpls/{$site.template}/menu.png" tppabs="3g/images/menu.png" alt="导航按钮" class="fl"/></div>
    </div>
  </div>
  <div class="menu" style="display:none">
    <ul class="ui-grid-d">
      <li class="ui-block-a"><a href="about.html" tppabs="3g/html/about.html" data-ajax="false" title="关于我们">关于我们</a></li>
      <li class="ui-block-b"><a href="news.html" tppabs="3g/html/news.html" data-ajax="false" title="最新资讯">最新资讯</a></li>
      <li class="ui-block-c"><a href="product.html" tppabs="3g/html/product.html" data-ajax="false" title="景观展示">景观展示</a></li>
      <li class="ui-block-d"><a href="case.html" tppabs="3g/html/case.html" data-ajax="false" title="成功案例">成功案例</a></li>
      <li class="ui-block-e"><a href="contact.html" tppabs="3g/html/contact.html" data-ajax="false" title="联系我们">联系我们</a></li>
    </ul>
  </div>
  <div class="searchmain">
    <div class="search_t"><img src="smarty/templates/tpls/{$site.template}/search_t.jpg" tppabs="3g/images/search_t.jpg" alt="景观检索"/></div>
    <form method="post" action="?m=site&c=home&a=search&token={$token}">
      <input type="text" class="search_txt" name="SeaStr" id="SeaStr" data-role="none" placeholder="请输入关键词"/>
      <input type="submit" class="search_but" data-role="none" value="">
    </form>
  </div>
  <div class="clear"></div>
  
  <!--banner-->
  
  <div data-role="content" class="content">
    <div class="banner"><img src="smarty/templates/tpls/{$site.template}/banner.jpg" tppabs="3g/images/banner.jpg" alt="底部背景图"/></div>
    <div class="indexmain">
      <ul>
			       <li><a href="product.php-tid=3.htm" tppabs="3g/product.php?tid=3" data-ajax="false" title="厂区景观">
        <div>厂区景观</div>
        <img src="smarty/templates/tpls/{$site.template}/20130419105405-368193696.jpg" tppabs="3g/upfile/product/classpic/20130419105405-368193696.jpg" alt="厂区景观"></a></li>
			        <li><a href="product.php-tid=4.htm" tppabs="3g/product.php?tid=4" data-ajax="false" title="小区景观">
        <div>小区景观</div>
        <img src="smarty/templates/tpls/{$site.template}/20130419105413-1057790604.jpg" tppabs="3g/upfile/product/classpic/20130419105413-1057790604.jpg" alt="小区景观"></a></li>
			        <li><a href="product.php-tid=5.htm" tppabs="3g/product.php?tid=5" data-ajax="false" title="广场景观">
        <div>广场景观</div>
        <img src="smarty/templates/tpls/{$site.template}/20130419105422-901135872.jpg" tppabs="3g/upfile/product/classpic/20130419105422-901135872.jpg" alt="广场景观"></a></li>
			        <li><a href="product.php-tid=6.htm" tppabs="3g/product.php?tid=6" data-ajax="false" title="公园景观">
        <div>公园景观</div>
        <img src="smarty/templates/tpls/{$site.template}/20130419105430-40085604.jpg" tppabs="3g/upfile/product/classpic/20130419105430-40085604.jpg" alt="公园景观"></a></li>
			       </ul>
    </div>
  </div>
  <div class="clear"></div>
<div class="footer">
  <ul>
    <li class="foothome"><a href="index.html" tppabs="3g/html/index.html" title="网站首页" class="ui-bar-h" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/home.png" tppabs="3g/images/home.png" /></a></li>
    <li class="foottel"><a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone=96877" title="电话" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/tel.png" tppabs="3g/images/tel.png" /></a></li>
    <li class="footmail"><a href="sms:15804067964" title="短信" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/mess.png" tppabs="3g/images/mess.png" /></a></li>
    <li class="footmap"><a href="map.html" tppabs="3g/html/map.html" title="地图" data-ajax="false"><img src="smarty/templates/tpls/{$site.template}/map.png" tppabs="3g/images/map.png" /></a></li>
  </ul>
  <div class="footbanner"><img src="smarty/templates/tpls/{$site.template}/footbanner.png" tppabs="3g/images/footbanner.png" alt="感动你我的生活空间" /></div>
</div>
</div></div>
</body></html>