html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#333; }
.copyright a { color:#333; }
h2 { font-size:16px; }
body { background-color:#151515; font-size:14px; min-width:320px }
body .mainmenu { margin-right: 4px; }
body .mainmenu:after { clear: both; content: " "; display: block; }
body .mainmenu li { overflow:hidden; float:left; width:25%; }
body .mainmenu li a { border-radius:3px; display:block; color:#FFF; margin:4px 0 0 4px; text-align: center; padding:5px; background-color:#333;height:60px;overflow:hidden; }
body .mainmenu li a img { width:40px; height:40px; }
body .mainmenu li a p { }

body .mainmenu li:nth-child(10n+5) {width:50%;}
body .mainmenu li:nth-child(10n+5) a { height:174px;padding:0px;}
body .mainmenu li:nth-child(10n+5) a img{ width:100px; height:100px; margin-top:30px;}

body .mainmenu li:nth-child(10n+6) {width:50%;}
body .mainmenu li:nth-child(10n+6) a { height:100px;padding:0px;}
body .mainmenu li:nth-child(10n+6) a img{ width:65px; height:65px;margin-top:5px;}

body .mainmenu li:nth-child(10n+9) {width:50%;}
body .mainmenu li:nth-child(10n+10) {width:50%;}


body .mainmenu li:nth-child(5n+1) a {background-color: #36A1DB;}
body .mainmenu li:nth-child(5n+2) a {background-color: #81B637;}
body .mainmenu li:nth-child(5n+3) a {background-color: #E57E22;}
body .mainmenu li:nth-child(5n+4) a {background-color: #7E54DC;}
body .mainmenu li:nth-child(5n+5) a {background-color:#00B699;}