<div class="subfooter" id="foot">
    <a href="sms:{$company.mp}" title="短信" class="sms"></a>
	<a href="http://site.tg.qq.com/forwardToPhonePage?siteId=1&phone={$company.tel}" title="电话" class="tel"></a>
    <a href="?token={$token}&m=site&c=home&a=map"  title="地图" class="map"></a>
</div>
<!--menu start-->
{if $showPlugMenu}
<link rel="stylesheet" href="/tpl/Wap/default/common/css/flash/css/plugmenu.css">
<div class="plug-div">
        <div class="plug-phone">
            <div class="plug-menu themeStyle" style="background:{$site.plugmenucolor}"><span class="close"></span></div> 
               {foreach from=$plugmenus item=vo key=k}
                        <div class="themeStyle plug-btn plug-btn{$k+1} close" style="background:{$site.plugmenucolor}">
							<a  href="{$vo.url}">
								<span style="background-image: url(/tpl/Wap/default/common/css/flash/images/img/{$vo.name}.png);" ></span>
							</a>
						</div>
                     {/foreach}
<div class="plug-btn plug-btn5 close"></div>
                    </div>
</div>
<script src="/tpl/Wap/default/common/css/flash/js/zepto.min.js" type="text/javascript"></script>
<script src="/tpl/Wap/default/common/css/flash/js/plugmenu.js" type="text/javascript"></script>
{/if}
<!--menu end-->
</body>
</html>