<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="Bookmark Icon" href="favicon.ico" />
<link href="logo.png" sizes="114x114" rel="apple-touch-icon">
<meta name="Author" content="024" />

<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDescription}"/>
<LINK href="templates/v14/jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="/3g/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" rel=stylesheet>
<LINK href="{$cssdir}/style.css?{$rand}" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" ></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" ></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" ></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/tianlan/banner.js" ></script>
<title>{$metaTitle}</title>
</head>
<body>
<div class="top">
	<a href="javascript:void(0);" title="导航" class="navbtn"></a>
	<center><a href="{$homeurl}" title="{$metaTitle}">
    <img  src="{$site.logourl}" style="max-height:30px;" alt="{$metaTitle}" class="logo"></a></center>
    <a href="javascript:void(0);" title="搜索" class="searchbtn"></a>
</div>
<ul class="nav">
 {if $navChannels}
{foreach from=$navChannels item=n}
	<li><a href="{$n.link}" title="{$n.name}">{$n.name}</a></li>
	{/foreach}
	{/if}
</ul>
<div class="search">
    <form id="search" name="search" method="post" action="?m=site&c=home&a=search&token={$token}">
        <input type="text" class="text" name="SeaStr" id="SeaStr" placeholder="请输入搜索关键词"/>
        <input type="submit" class="button" value="">
    </form>
</div>