.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.body{
	display:block;
	background:#e9e9e9;
	background:url(../images/v47_2.jpg);
}

/******************************/
.list_ul li{
	
}
.list_ul dl{
	text-align:center;
	line-height:20px;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
	margin:5px;
	background:#35aae7;
}
.list_ul dl:nth-of-type(1){
	-webkit-box-flex:2;
}
.list_ul dl a{
	display:block;
	height:100%;
	color:#ffffff;
	position:relative;
}
.list_ul dl:last-of-type{
	border-right:0;
}
.list_ul dd{
	width:50px;
	display:table;
	margin:auto;
}
.list_ul div{
	padding-top:20px;
	padding-left:20px;
	width:100%;
	text-align:center;
	height:60px;
	vertical-align: middle;
	display:table-cell;
	font-size:40px;
}
/*.list_ul div img{
	display:none;
	max-height:100px;
	max-width:100px;
}*/

.list_ul dt{
	position:absolute;
	top:10px;
	left:10px;
}


/*************************/
.list_ul li:nth-of-type(3n+1) dl:nth-of-type(2){background-color:#678ce1;}
.list_ul li:nth-of-type(3n+1) dl:nth-of-type(3){background-color:#8c67df;}

.list_ul li:nth-of-type(3n+2) dl:nth-of-type(1){background-color:#84d018;height:110px;}
.list_ul li:nth-of-type(3n+2) dl:nth-of-type(2){background-color:#14c760;height:110px;}

.list_ul li:nth-of-type(3n) dl:nth-of-type(1){background-color:#f3b613;}
.list_ul li:nth-of-type(3n) dl:nth-of-type(2){background-color:#ff8a4a;}
.list_ul li:nth-of-type(3n) dl:nth-of-type(3){background-color:#fc5366;}