<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>{$metaTitle}</title>
<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDescription}"/>
<link href="templates/{$site.template}/jquery.mobile.structure-1.2.0.min.css?{$rand}" tppabs="/css/jquery.mobile.structure-1.2.0.min.css?{$rand}" rel="stylesheet" type="text/css"/> 
<LINK href="{$cssdir}/style.css?{$rand}" rel=stylesheet>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery-1.6.4.min.js" tppabs="/js/jquery-1.6.4.min.js"></script>
{literal}
<script type="text/javascript">
$(document).bind("mobileinit", function(){
	$.mobile.ajaxEnabled=false;
});
</script>
{/literal}
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/search.js" tppabs="/js/search.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/nav.js" tppabs="/js/nav.js"></script>
<script type="text/javascript" src="smarty/templates/tpls/{$site.template}/jquery.mobile-1.2.0.min.js" tppabs="/js/jquery.mobile-1.2.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="smarty/templates/tpls/tianlan/banner.js" tppabs="common/js/banner.js"></script>
</head>

<body class="subbg">
<div class="topbg">
	<div><a href="{$homeurl}" data-transition="slideup"><img src="{$site.logourl}" height="35" tppabs="/images/logo.png" class="logo" /></a></div>
    <div class="search">
        <form method="post" action="?m=site&c=home&a=search&token={$token}">
            <input type="text" name="SeaStr" id="SeaStr" class="text" style="color:#0089BB" value="输入关键词" />
        	<input type="image" src="smarty/templates/tpls/{$site.template}/searchbtn.png" tppabs="/images/searchbtn.png" class="button">
        </form>
    </div>
</div>
<img src="smarty/templates/tpls/{$site.template}/leftbutton.png" tppabs="/images/leftbutton.png" class="leftbtn" id="leftbtn" ><img src="smarty/templates/tpls/{$site.template}/rightbutton.png" tppabs="/images/rightbutton.png" class="rightbtn" id="rightbtn">
<div class="bg4">
    <div class="nav" id="nav">
    <div class="navbg" id="draggable">
	{if $navChannels}
{foreach from=$navChannels item=n}
	<a href="{$n.link}" title="{$n.name}">{$n.name}</a>
	{/foreach}
	{/if}
    </div>
    </div>
</div>