{include file=$header}
<div class="big-pic big-pic{if $focusCount}{$focusCount}{/if}">
    <div class="big-pic-in">
        <div class="pic-list" >
        	     {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
                                <a href="{$a.link}"><p><img src="{$a.thumb}" width="100%"></p></a>
								{/if}
			{/foreach}
			{/if}
                    </div>
        <div class="slide-dot">
			       {if $channel_focus_contents}
			{foreach from=$channel_focus_contents item=a key=k}
			{if $k<5}
			 <span{if $k==0} class="slide-dot-cur"{/if}></span>
                    {/if}
			{/foreach}
			{/if}
                    </div>
    </div>
</div>
<div class="title"><a href="{$pictureChannel.link}" data-transition="slideup">{$pictureChannel.name}<span></span></a></div>
<ul class="pro-ul">
{if $pictureContents}
			{foreach from=$pictureContents item=a key=k}
			{if $k<2}
		<li>
    	<center><a href="{$a.link}" title="{$a.title}"><img src="{$a.thumb}" alt="{$a.title}"></a>
        <p>{$a.title}</p></center>
    </li>
		{/if}
		{/foreach}
		{/if}
	</ul>
<div class="clear"></div>
<div class="title"><a href="{$textChannel.link}" data-transition="slideup">{$textChannel.name}<span></span></a></div>
<div class="news-top-bg">
{if $textContents}
{foreach from=$textContents item=a key=k}
			{if $k<1}
			{if $a.thumb}
	<a href="{$a.link}" data-transition="slideup"><img src="{$a.thumb}"></a>
	{/if}
    <div class="news-right"{if !$a.thumb} style="padding:0 20px;width:80%"{/if}>
        <p><a href="{$a.link}" data-transition="slideup">{$a.title}</a></p>
        <p>{$a.intro}</p>
    </div>
	{/if}
	{/foreach}
	{/if}
</div>
<ul class="news-font-ul">
{if $textContents}
{foreach from=$textContents item=a key=k}
			{if $k>0&&$k<4}
	    <a href="{$a.link}" data-transition="slideup"><li>{$a.title}</li></a>
{/if}
	{/foreach}
	{/if}
    </ul>
{include file=$footer}

