body{ background: #ffd386;}
.list{border-radius: 5px; margin: 10px 2%; width: 96%; background:#96281f;}
.list li{list-style: none; overflow: hidden;}
.list a{
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    background: url(../images/arrow.png?2012) no-repeat right center;
    background-size: auto 10px,auto 2px;
    background-origin:content-box, border-box;
    color:#fff;
}
.list li:nth-child(2n){background-color: #8b0a00;}
.list li:first-child,
.list li:first-child a{ border-radius: 5px 5px 0 0;}
.list li:last-child,
.list li:last-child{ border-radius: 0 0 5px 5px;}
.list a:active,
.list a.active{ background-color: #7d0900;}
.list a >*{height: 50px; vertical-align: middle; display: table-cell;}
.list a >*:last-child{width: 100%;}
.list .list-img b{ width: 60px; height: 60px; border-radius: 1000px; overflow: hidden;text-align: center; display: block; position: relative;line-height: 60px; }
.list-img .fa{ font-size: 50px; width: 60px; height: 60px; color:rgba(255,255,255,0.75);line-height: 60px;}
.list-img img{width: 100%; height: 100%; border-radius: 10000px; float: left;}
.list .list-text>*{padding-right: 10px;font-weight: 100;  line-height: 20px; word-spacing:normal; word-break:normal; word-break:break-all;}
.list h1,
.list h2{text-indent: 10px;overflow:hidden;height: 20px;}
.list-text b,
.list-text small{ padding-left: 10px; display: block;}
.list a >*:first-child h1,
.list a >*:first-child h2{text-indent: 0;}
.list a >*:first-child b,
.list a >*:first-child small{ padding-left: 0;}
.list h1,
.list-text b{ font-size: 14px; color: #ffd386;}
.list h2,
.list-text small{ font-size: 12px; color: #fff;}
.btn-up-1{ background: #e8645a;}
.btn-up-1 .fa{ background: #fff; color: #e8645a;}
.navPop-1 .navPop-btn{ background: #e8645a;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #e8645a;}
.navPop-wrap>div a{
    background: #e8645a;
    color: #fff;
}
.slider-hor .slider-span{ width: 100%;}