.list li{background: #f2f1f0; list-style: none; overflow: hidden; border:1px solid #d2d1d1; border-left: 0; border-right: 0;}
.list a{
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    background: url(../images/arrow.png) no-repeat right center;
    background-size: auto 10px;
    background-origin:content-box;
}
.list a:active,
.list a.active{ background-color: #eee;}
.list a >*{height: 50px; vertical-align: middle; display: table-cell;}
.list a >*:last-child{width: 100%;}
.list .list-img b{ width: 50px; height: 50px; overflow: hidden;text-align: center; display: block;}
.list-img .fa{ font-size: 40px; width: 50px; height: 50px; line-height: 50px; color: #999;}
.list .list-text>*{padding-right: 10px;font-weight: 100;  line-height: 20px; }
.list h1,
.list h2{text-indent: 10px;overflow:hidden;height: 20px;}
.list-text b,
.list-text small{ padding-left: 10px; display: block;}
.list a >*:first-child h1,
.list a >*:first-child h2{text-indent: 0;}
.list a >*:first-child b,
.list a >*:first-child small{ padding-left: 0;}
.list h1,
.list-text b{ font-size: 14px; color: #333;}
.list h2,
.list-text small{ font-size: 12px; color: #1064ad;}
.list img{ width: 100%; min-height: 100%;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
.slider-hor .slider-span{ width: 100%;}