{include file=$header}
{literal}
<style>
#content img{max-width:92%;}
</style>
{/literal}{if $ismap}
{$mapstr}
{else}
<div class="sub">
	<div class="subsearchbox" style="height:20px;">
    	
    </div>
            <h1><p>{$content.title}</p></h1>
	<div class="view" id="content">{$content.content}</div>
	<div style="clear:both"></div>
	<p class="hr"></p>
	{if $previousContent}<a href="{$previousContent->link}" class="prevpage">上一条：<span>{$previousContent->title}</span></a>{/if}
	{if $nextContent}<a href="{$nextContent->link}" class="nextpage">下一条：<span>{$nextContent->title}</span></a>{/if}
</div>
{/if}
{include file=$footer}


