/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
	background-color: #4baad3;
}
a, p > a {
	color: #4baad3;
}
.mainMenuWrapper {
	border-color: #4baad3;
}
.mainMenuWrapper > li > a {
	background-image: url("../../images/skins/blue/mainMenuItemBg.png");
}
.currentPageNumber, .currentPageNumber:hover {
	background-color: #4baad3;
}
input.errorSearchFormSubmitButton, input.errorSearchFormSubmitButton:hover {
	background-color: #4baad3;
}
.portfolioOneItemImageWrapper, .portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-color: #4baad3;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #4baad3;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url("../../images/skins/blue/portfolioExpandButtonBg.png");
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url("../../images/skins/blue/portfolioDetailsButtonBg.png");
}
.smallPostMoreButton {
	background-image: url("../../images/skins/blue/smallPostReadMoreButtonBg.png");
}
input.contactSubmitButton, input.contactSubmitButton:hover {
	background-color: #4baad3;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	background-color: #4baad3;
}
.accordionButton .accordionButtonIcon {
	background-image: url("../../images/skins/blue/accordionButtonBg.png");
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.mainMenuWrapper > li > a {
	background-image: url("../../images/skins/blue/mainMenuItemBg-x2.png");
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url("../../images/skins/blue/portfolioExpandButtonBg-x2.png");
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url("../../images/skins/blue/portfolioDetailsButtonBg-x2.png");
}
.smallPostMoreButton {
	background-image: url("../../images/skins/blue/smallPostReadMoreButtonBg-x2.png");
}
.accordionButton .accordionButtonIcon {
	background-image: url("../../images/skins/blue/accordionButtonBg-x2.png");
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blue Skin CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
